/*pantalla un login page*/
body{
  min-height:100vh;
  margin-top:0%;
  margin-left:0%;
  overflow-y:hidden!important;
  overflow-y:none;
  font-family: 'Raleway'
}


.video{
    position:relative;
    min-height:100vh;
    max-height: 100vh;
    width: auto; 
    min-width: 100vw; 
    margin: 0 auto;
    overflow-y:hidden!important;
    overflow-y:none;
}

/*input para accesar ala aplicacion*/
.video>input:nth-child(1){
    position:absolute;
    font-size: 12px;
    padding-left:7px;
    min-height:30px;
    width: 15%;
    right: 30%;
    border: 1px solid #c6c6c6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:1.5%;
    z-index: 4;
}
.video>input:nth-child(2){
    position:absolute;
    font-size: 12px;
    padding-left:7px;
    min-height:30px;
    width: 15%;
    right: 13%;
    border: 1px solid #c6c6c6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:1.5%;
    z-index: 4;
}

.video>a:nth-child(3) {
    position:absolute;
    font-size: 14px;
    font-style: bold;
    background-color:#459fff;
    color:white;
    padding-bottom: 4px;
    text-decoration:none;
    text-align:center;
    min-height:21px;
    padding-top:0.5%;
    width: 6%;
    right: 3%;
    border: 2px solid #459fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:1.5%;
    z-index: 4;
 }

.video>input:nth-child(3):hover{
     background-color: rgba(69,159,255,0.6);
     color: white;
     
}

/*logo grande que aparece en medio de la pag*/
.logo{
    position: absolute;
    margin-top:15%;
    min-height:200px;
    text-align: center;
    width: 100%;
}

.logo>img{
    width:36%;

}
.slogan{
    position: absolute;
    margin-left: 48%;
    margin-top:21%;
    
    font-size: 18px;
    font-style: bold;
    color:#ff738f;
    display: block;
}


/*boton del primer registro*/
#registro{
    position: absolute;
    margin-top:27.5%;
    left: 0%;
    width: 70px;
    height: 50.5px;
}


#registro>img{
    position: absolute;
    margin-top: -5.8px;
    left: 0%; 
}


/*caja de dialogo de registro*/
.Registro1{
      background-color:rgba(69,159,255,0.7);
      position: absolute;
      left: 35%;
      top:35%;
      width: 40%;
      height: 50%;
      -webkit-border-radius: 31px;
      -moz-border-radius: 31px;
      border-radius: 31px;
      z-index:1;

}


/*boton Buscas Empleo*/
.Registro1>input:nth-child(1){
    position: absolute;
   
    font-size:15px;
    font-style: bold;
    background: #ff738f;
    color:white;
    top:-15%;
    left:15%;
    width: 30%;
    height: 10%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Ofreces Empleo*/
.Registro1>input:nth-child(2){
    position: absolute;
   
     background: #ff738f;
    font-size:15px;
    font-style: bold;
    color:white;
    top:-15%;
    right:15%;
    width: 30%;
    height: 10%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input boton cancelar*/

.Registro1>input:nth-child(3){
    background: #ff738f;
    color:white;
   
    font-size:15px;
    font-style: bold;
    position: absolute;
    top:80%;
    left:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input boton Unirse*/
.Registro1>input:nth-child(4){
    background: #ff738f;
    color:white;
   
    font-size:15px;
    font-style: bold;
    position: absolute;
    top:80%;
    right:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*input Nombre*/
.Registro1>#BEmpleados>input:nth-child(1){
    position: absolute;
   
    font-size:15px;
    padding-left:10px;
    top:10%;
    left:10%;
    width: 35%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Apellido*/

.Registro1>#BEmpleados>input:nth-child(2){
    position: absolute;
   
    font-size:15px;
    padding-left:10px;
    top:10%;
    right:10%;
    width: 35%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Correo*/

.Registro1>#BEmpleados>input:nth-child(3){
    position: absolute;
   
    font-size:15px;
    padding-left:10px;
    top:28%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Correo2*/

.Registro1>#BEmpleados>input:nth-child(4){
    position: absolute;
   
    font-size:15px;
    padding-left:10px;
    top:46%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Contraseña*/

.Registro1>#BEmpleados>input:nth-child(5){
    position: absolute;
   
    font-size:15px;
    padding-left:10px;
    top:64%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.Registro1>#BEmpleados>a:nth-child(6){
    background: #ff738f;
    color:white;
   
    font-size:15px;
    font-style: bold;
    position: absolute;
    padding-top:1%;
    text-decoration:none;
    text-align:center;   
    top:80%;
    right:15%;
    width: 30%;
    height: 8%;
    border:solid 0px;
    z-index:44444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.Registro1>#OfreceE>input:nth-child(1){
    position: absolute;
   
    font-size:15px;
    padding-left:10px;
    top:30%;
    left:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.Registro1>#OfreceE>input:nth-child(2){
    position: absolute;
   
    font-size:15px;
    padding-left:10px;
    top:48%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Correo2*/



.Registro1>#OfreceE>a:nth-child(3){
    background: #ff738f;
    color:white;
   
    font-size:15px;
    font-style: bold;
    position: absolute;
    text-decoration:none;
    text-align:center; 
    padding-top:1%;
    top:80%;
    right:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    z-index:44444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/*boton de login facebook*/
#redesF{
    position: absolute;
    margin-top:37.5%;
    left: 0%;
    background-image: url(../img/face3.png);
    width: 128px;
    height: 51px;

}


/*caja de dialogo de login de facebook*/
.facebook{
    background-color: white;
    border:2px solid red;
    position: absolute;
    margin-left: 30%;
    margin-top:-20%;
    width: 40%;
    height: 60%;
    z-index:100000;
}

/*boton de linkedin*/
#redesI{
    position: absolute;
    margin-top: 32.5%;
    left: 0%;
    background-image: url(../img/linke3.png);
    width: 128px;
    height:51px;
    -webkit-transition: all 0.40s ease;
    -moz-transition: all 0.40s ease;
    -o-transition: all 0.40s ease;

}





/*caja de dialogo de linkedin*/
.linkedin{
    background-color: white;
    border:2px solid blue;
    position: absolute;
    margin-left: 30%;
    margin-top:-20%;
    width: 40%;
    height: 60%;
    z-index:100000;
}


/*boton de siguiente pagina*/
.siguiente{
    position: absolute;
    width: 100%;
    height: 75px;
    bottom:0%;
    text-align:center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.siguiente>img{
    position: absolute;
    bottom:0%;
    z-index: 2;
}
/*fin de la primer pantalla*/



/*<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/





/*inicio de la siguiente  pagina*/
.pantalla1{
    position:relative;
    color:white;
    background:#459fff;
    height: 100vh;
    max-height: 100vh;
    width: auto;
    overflow-y:hidden!important;
    overflow-y:none; 
    min-width: 100vw; 
    margin: 0 auto;
    overflow: hidden; 
}
/*Contenedor de las imagenes y texto*/

.pantalla1>#conteni{
    position: absolute;
    width: 100%;
    height:100%;
    margin-top:0%;
    margin-left:0%;
    max-width:100%;

  }

/*imagenes de la pantalla2*/
.pantalla1>#conteni>img:nth-child(1){
    position: absolute;
    margin-left: 8%;
    margin-top:7%;
    max-width: 100%;

}


.pantalla1>#conteni>img:nth-child(2){
    position: absolute;
    margin-left: 46%;
    margin-top:7%;
    max-width: 100%;
}


.pantalla1>#conteni>img:nth-child(3){
    position: absolute;
    margin-left:80%;
    margin-top:7%;
    max-width:60%;
}


.pantalla1>#conteni>img:nth-child(4){
    position: absolute;
    margin-left: 10%;
    margin-top:29%;
}


.pantalla1>#conteni>img:nth-child(5){
    position: absolute;
    margin-left: 48%;
    margin-top:29%;
}


.pantalla1>#conteni>img:nth-child(6){
    position: absolute;
    margin-left: 82%;
    margin-top:29%;
}


/*texto de la pantalla2*/
#titulo1{
    position: absolute;
    width: 80px;
    height: 95px;
    margin-left: 31%;
    margin-top:12%;
    max-width: 100%;
 
}



#L{
    position: absolute;
    top:0%;
    margin-left:23%;
    
    font-size:28px;
    font-stwight:900;
    font-weight:900;
}


#l{
    position: absolute;
    top:30px;
    left: 11%;
    
    font-size:15px;
}


#titulo2{
    position: absolute;
    width: 100px;
    height: 55px;
    margin-left: 64%;
    margin-top:12%;
    
    font-size: 15px;
    font-style: normal;
    padding-left:20px;


}


#L2{
    position: absolute;
    top:0px;
    
    font-size:28px;
    font-stwebold;
}


#l2{
    position: absolute;
    top:30px;
    left:26px;
    
    font-size:15px;
}


#titulo3{
    position: absolute;
    width: 100px;
    height: 55px;
    margin-left: 30%;
    margin-top:32%;
    
    font-size: 15px;
    font-style: normal;
    padding-left:20px;


}


#L3{
    position: absolute;
    top:0px;
    
    font-size:28px;
    font-stwebold;
    font-weight:900px;
}


#l3{
    position: absolute;
    top:30px;
    left:15px;
    
    font-size:15px;
}

#titulo4{
    position: absolute;
    width: 100px;
    height: 55px;
    margin-left: 65%;
    margin-top:32%;
    
    font-size: 15px;
    font-style: normal;
    padding-left:20px;

}
#L4{
    position: absolute;
    top:0px;
    
    font-size:28px;
    font-style:bold;
}
#l4{
    position: absolute;
    top:30px;
    left:20px;
    
    font-size:15px;
}
.siguiente2{
    position: absolute;
    width: 100%;
    height: 75px;
    bottom:0%;
    text-align:center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
/*boton de siguiente pagina*/
.siguiente2>img{
    position: absolute;
    bottom:0%;
    z-index: 2;
}
/*fin de la pagina2*/


/*<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/




/*inicio de la pagina3*/
.pantalla2{
    position:relative;
    color:white;
    background:#5fddff;
    height: 100vh;
    max-height: 100vh;
    width: auto; 
    min-width: 100vw; 
    margin: 0 auto;
    overflow-y:hidden!important;
    overflow-y:none;
}
/*div que contiene imagenes y texto*/
.pantalla2>#conteni2{
    position: absolute;
    width: 100%;
    height:90%;
    margin-top:6%;
    left:0%;

 }

/*imagenes y contenido 1 pagina3*/
.pantalla2>#conteni2>img:nth-child(1){
    position: absolute;
    margin-left:8%;
    margin-top:3%;
}
/*imagenes y contenido 2 pagina3*/
.pantalla2>#conteni2>img:nth-child(2){
    position: absolute;
    margin-left: 48%;
    margin-top:3%;
}
.pantalla2>#conteni2>img:nth-child(3){
    position: absolute;
    margin-left: 78%;
    margin-top:4%;
}

#L5{
    position: absolute;
    margin-top:23%;
    margin-left:7%;
    
    font-size:28px;
    font-weight:900;

}
#l5{
    position: absolute;
    margin-top:27%;
    margin-left:7%;
    
    font-size:15px;
}


#L6{
    position: absolute;
    margin-top:23%;
    margin-left:46.5%;
    
    font-size:28px;
    font-weight:900;

}
#l6{
    position: absolute;
    margin-top:27%;
    margin-left:46.5%;
    
    font-size:15px;

}

 /*imagenes y contenido 3 pagina3*/

#L7{
    position: absolute;
    margin-top:23%;
    margin-left:77.5%;
    
    font-size:28px;
    font-weight:900;

}
#l7{
    position: absolute;
    margin-top:27%;
    margin-left:77.5%;
    
    font-size:15px;
}


/*boton de siguiente pagina3*/
.siguiente3{
    position: absolute;
    width: 100%;
    height: 75px;
    bottom:0%;
    text-align:center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.siguiente3>img{
    position: absolute;
    bottom:0%;
    z-index: 2;

}
/*fin de la pagina3*/




/*<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/






/*inicio pagina 4*/
.pantalla3{
    position:relative;
    color:white;
    background:#ff738f;
    height: 100vh;
    max-height: 100vh;
    width: auto; 
    min-width: 100vw; 
    margin: 0 auto;
    overflow-y:hidden!important;
    overflow-y:none;

}

/*div de contenido de texto e imagenes*/
.pantalla3>#conteni3{
    position: absolute;
    width: 100%;
    height:90%;
    margin-top:7%;
    margin-left:0%;
 }
.pantalla3>#conteni3>img:nth-child(1){
    position: absolute;
    margin-left: 10%;
    margin-top:0%;

}
.pantalla3>#conteni3>img:nth-child(2){
    position: absolute;
    margin-left: 46%;
    margin-top:0%;
}
.pantalla3>#conteni3>img:nth-child(3){
    position: absolute;
    margin-left: 78%;
    margin-top:10.5%;
}
 


#L8{
    position: absolute;
    margin-top:22%;
    margin-left:11%;
    
    font-size:28px;
    font-weight:900;

}
#l8{
    position: absolute;
    margin-top:26%;
    margin-left:6%;
    
    font-size:15px;
    text-align: center;
}


#L9{
    position: absolute;
    margin-top:22%;
    margin-left:46%;
    
    font-size:28px;
    font-weight:900;
}

#l9{
    position: absolute;
    margin-top:26%;
    margin-left:45%;
    
    font-size:15px;
}


#L10{
    position: absolute;
    margin-top:22%;
    margin-left:82%;
    
    font-size:28px;
    font-weight:900;
}


#l10{
    position: absolute;
    margin-top:26%;
    margin-left:81.5%;
    
    font-size:15px;
  }


.siguiente4{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom:0%;
    text-align:center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.siguiente4>img{
    position: absolute;
    bottom:0%;
    z-index: 2;
}





@media handheld, only screen and (max-width: 900px) {
    .logo{
        margin-top:25%;
    }

    .slogan{
        margin-top:31%;
        font-size: 13px;
    }
    #registro{
        margin-top:40%;
    }

    #redesF{
        margin-top:47%;
    }
    #redesI{
        margin-top: 54%;
    }
    .Registro1{
     left: 22%;
      top:35%;
      width: 60%;
      height: 55%;
    }

    .pantalla1>#conteni{
        margin-top:5%;
    }

    /*imagenes de la pantalla2*/
    .pantalla1>#conteni>img:nth-child(1){
        width: 15%;
    }


    .pantalla1>#conteni>img:nth-child(2){
        width: 15%;
    }


    .pantalla1>#conteni>img:nth-child(3){
        width:15%;
    }


    .pantalla1>#conteni>img:nth-child(4){
        position: absolute;
        margin-left: 10%;
        margin-top:35%;
        width: 15%;
    }


    .pantalla1>#conteni>img:nth-child(5){
        position: absolute;
        margin-left: 46%;
        margin-top:32%;
        width:15%;
    }


    .pantalla1>#conteni>img:nth-child(6){
        position: absolute;
        margin-left: 81%;
        margin-top:32%;
        width: 13%;
    }


    /*texto de la pantalla2*/
    #titulo1{
        position: absolute;
        width: 80px;
        height: 95px;
        margin-left: 31%;
        margin-top:14%;
        max-width: 100%;
     
    }



    #titulo2{
        position: absolute;
        width: 100px;
        height: 55px;
        margin-left: 63%;
        margin-top:14%;
        
        font-size: 15px;
        font-style: normal;
        padding-left:20px;


    }


    #L2{
        position: absolute;
        top:0px;
        
        font-size:28px;
        font-stwebold;
    }


    #l2{
        position: absolute;
        top:30px;
        left:26px;
        
        font-size:15px;
    }


    #titulo3{
        position: absolute;
        width: 100px;
        height: 55px;
        margin-left: 28%;
        margin-top:36%;
        
        font-size: 15px;
        font-style: normal;
        padding-left:20px;


    }


    #l3{
        position: absolute;
        top:34px;
        left:12px;
        
        font-size:15px;
    }

    #titulo4{
        position: absolute;
        width: 100px;
        height: 55px;
        margin-left: 65%;
        margin-top:36%;
        
        font-size: 15px;
        font-style: normal;
        padding-left:20px;

    }
    #l4{
        position: absolute;
        top:34px;
        left:20px;
        
        font-size:15px;
    }


        /*inicio de la pagina3*/
    .pantalla2{
        position:relative;
        color:white;
        background:#5fddff;
        height: 100vh;
        max-height: 100vh;
        width: auto; 
        min-width: 100vw; 
        margin: 0 auto;
        overflow-y:hidden!important;
        overflow-y:none;
    }

    /*imagenes y contenido 1 pagina3*/
    .pantalla2>#conteni2>img:nth-child(1){
        position: absolute;
        margin-left:7%;
        margin-top:6%;
        width:17%;

    }
    /*imagenes y contenido 2 pagina3*/
    .pantalla2>#conteni2>img:nth-child(2){
        position: absolute;
        margin-left: 47%;
        margin-top:6%;
        width:10%;

    }
    .pantalla2>#conteni2>img:nth-child(3){
        position: absolute;
        margin-left: 77%;
        margin-top:10%;
        width:17%;

    }

    #L5{
        position: absolute;
        margin-top:35%;
        margin-left:5%;
        
        font-size:25px;
        font-weight:900;

    }
    #l5{
        position: absolute;
        margin-top:40%;
        margin-left:5%;
        
        font-size:15px;
    }


    #L6{
        position: absolute;
        margin-top:35%;
        margin-left:44%;
        
        font-size:28px;
        font-weight:900;

    }
    #l6{
        position: absolute;
        margin-top:40%;
        margin-left:44%;
        
        font-size:15px;

    }

     /*imagenes y contenido 3 pagina3*/

    #L7{
        position: absolute;
        margin-top:35%;
        margin-left:74%;
        
        font-size:28px;
        font-weight:900;

    }
    #l7{
        position: absolute;
        margin-top:40%;
        margin-left:74%;
        
        font-size:15px;
    }

    /*div de contenido de texto e imagenes*/
    .pantalla3>#conteni3{
        position: absolute;
        width: 100%;
        height:70%;
        margin-top:12%;
        margin-left:0%;
     }
    .pantalla3>#conteni3>img:nth-child(1){
        position: absolute;
        margin-left: 6%;
        margin-top:0%;
        width:11%;
    }
    .pantalla3>#conteni3>img:nth-child(2){
        position: absolute;
        margin-left: 44%;
        margin-top:0%;
        width:17%;
    }
    .pantalla3>#conteni3>img:nth-child(3){
        position: absolute;
        margin-left: 76%;
        margin-top:12.5%;
        width:18%;
    }
     


    #L8{
        position: absolute;
        margin-top:25%;
        margin-left:6%;
        
        font-size:28px;
        font-weight:900;

    }
    #l8{
        position: absolute;
        margin-top:30%;
        margin-left:6%;
        
        font-size:15px;
        text-align: left;
    }


    #L9{
        position: absolute;
        margin-top:25%;
        margin-left:44%;
        
        font-size:28px;
        font-weight:900;
    }

    #l9{
        position: absolute;
        margin-top:30%;
        margin-left:44%;
        
        font-size:15px;
    }


    #L10{
        position: absolute;
        margin-top:25%;
        margin-left:80%;
        
        font-size:28px;
        font-weight:900;
    }


    #l10{
        position: absolute;
        margin-top:30%;
        margin-left:79%;
        
        font-size:15px;
    }



}





















@media handheld, only screen and (max-width: 768px) {

    .slogan{
        margin-top:32%;
        font-size: 11px;
    }
    #registro{
        margin-top:45%;
    }

    #redesF{
        margin-top:54%;
    }
    #redesI{
        margin-top: 63%;
    }

    .pantalla1>#conteni{
        margin-top:10%;
  }

    /*imagenes de la pantalla2*/
    .pantalla1>#conteni>img:nth-child(1){
        width: 15%;
        margin-left:5%;
    }


    .pantalla1>#conteni>img:nth-child(2){
        width: 15%;
        margin-left:43%;
    }

    .pantalla1>#conteni>img:nth-child(4){
        position: absolute;
        margin-left: 5%;
        margin-top:35%;
        width: 15%;
    }


    .pantalla1>#conteni>img:nth-child(5){
        position: absolute;
        margin-left: 43%;
        margin-top:32%;
        width:15%;
    }



    /*texto de la pantalla2*/
    #titulo1{
        position: absolute;
        width: 80px;
        height: 95px;
        margin-left: 28%;
        margin-top:14%;
        max-width: 100%;
     
    }



    #titulo2{
        position: absolute;
        width: 100px;
        height: 55px;
        margin-left: 61%;
        margin-top:14%;
        
        font-size: 15px;
        font-style: normal;
        padding-left:20px;


    }

    #titulo3{
        position: absolute;
        width: 100px;
        height: 55px;
        margin-left: 25%;
        margin-top:36%;
        
        font-size: 15px;
        font-style: normal;
        padding-left:20px;
    }

    #titulo4{
        position: absolute;
        width: 100px;
        height: 55px;
        margin-left: 62%;
        margin-top:36%;
        
        font-size: 15px;
        font-style: normal;
        padding-left:20px;

    }


    #l5{
        position: absolute;
        margin-top:40%;
        margin-left:5%;
        
        font-size:13px;
    }


    #l6{
        position: absolute;
        margin-top:40%;
        margin-left:44%;
        
        font-size:13px;

    }

     /*imagenes y contenido 3 pagina3*/
     #L7{
        position: absolute;
        margin-right:1%;
        
        font-size:28px;
        font-weight:900;

    }

    #l7{
        position: absolute;
        margin-top:40%;
        margin-right:3%;
        
        font-size:13px;
    }
    .pantalla2>#conteni2{
        position: absolute;
        width: 100%;
        height:90%;
        margin-top:10%;
        left:0%;

    }

    /*div de contenido de texto e imagenes*/
    .pantalla3>#conteni3{
        margin-top:16%;
     }
   
    #L8{
        font-size:26px;
    }
    #l8{
        font-size:13px;
    }


    #L9{
        margin-left:41%;
        font-size:26px;
    }

    #l9{
        margin-left:41%;
        font-size:13px;
    }


    #L10{
        position: absolute;
        margin-top:25%;
        margin-left:79%;
        
        font-size:26px;
        font-weight:900;
    }


    #l10{
        position: absolute;
        margin-top:30%;
        margin-left:78%;
        
        font-size:13px;
    }




}
















@media handheld, only screen and (max-width: 480px) {
 
    .logo{
        position: absolute;
        margin-top:40%;
        min-height:200px;
        text-align: center;
        width: 100%;
    }
      /*input para accesar ala aplicacion*/
    .video>input:nth-child(1){
          position:absolute;
          font-size: 12px;
          padding-left:7px;
          height:4%;
          width: 30%;
          right: 60%;
          border: 1px solid #c6c6c6;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          margin-top:5%;
      }
    .video>input:nth-child(2){
          position:absolute;
          font-size: 12px;
          padding-left:7px;
          height:4%;
          width: 30%;
          right: 25%;
          border: 1px solid #c6c6c6;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          margin-top:5%;
          z-index: 4;
      }

    .video>a:nth-child(3) {
          position:absolute;
          font-size: 12px;
          font-style: bold;
          background-color:#459fff;
          color:white;
          padding-bottom: 2px;
          text-decoration:none;
          text-align:center;
          height:3%;
          padding-top:1.5%;
          width: 12%;
          right: 7%;
          border: 2px solid #459fff;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          margin-top:5%;
          z-index: 4;
       }

      .video>a:nth-child(3):hover{
          background-color: rgba(69,159,255,0.6);
          color: white;
           
      }
        .logo>img{
          width:36%;

      }
      .slogan{
          display:none;
      }


      /*boton del primer registro*/
      #registro{
          position: absolute;
          margin-top: 50%;
          margin-left:25%;
          width: 50%;
          height: 50.5px;
          background: #ff738f;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }


      #registro>img{
          position: absolute;
          margin-left:20%;
      }


      /*caja de dialogo de registro*/
      .Registro1{
          background-color:rgb(69,159,255);
          position: absolute;
          left: 0%;
          top:35%;
          width: 100%;
          height: 50%;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          z-index:1;

      }


      /*boton Buscas Empleo*/
      .Registro1>input:nth-child(1){
          position: absolute;
         
          font-size:15px;
          font-style: bold;
          background: #ff738f;
          color:white;
          top:-15%;
          left:15%;
          width: 30%;
          height: 10%;
          border:solid 0px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      /*input Ofreces Empleo*/
      .Registro1>input:nth-child(2){
          position: absolute;
         
          background: #ff738f;
          font-size:15px;
          font-style: bold;
          color:white;
          top:-15%;
          right:15%;
          width: 30%;
          height: 10%;
          border:solid 0px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      /*input boton cancelar*/

      .Registro1>input:nth-child(3){
          background: #ff738f;
          color:white;
         
          font-size:15px;
          font-style: bold;
          position: absolute;
          top:80%;
          left:15%;
          width: 30%;
          height: 9%;
          border:solid 0px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      /*input boton Unirse*/
      .Registro1>input:nth-child(4){
          background: #ff738f;
          color:white;
         
          font-size:15px;
          font-style: bold;
          position: absolute;
          top:80%;
          right:15%;
          width: 30%;
          height: 9%;
          border:solid 0px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }

      /*input Nombre*/
      .Registro1>#BEmpleados>input:nth-child(1){
          position: absolute;
         
          font-size:15px;
          padding-left:10px;
          top:10%;
          left:10%;
          width: 35%;
          height: 9%;
          border:solid 1px #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      /*input Apellido*/

      .Registro1>#BEmpleados>input:nth-child(2){
          position: absolute;
         
          font-size:15px;
          padding-left:10px;
          top:10%;
          right:10%;
          width: 35%;
          height: 9%;
          border:solid 1px #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      /*input Correo*/

      .Registro1>#BEmpleados>input:nth-child(3){
          position: absolute;
         
          font-size:15px;
          padding-left:10px;
          top:28%;
          right:10%;
          width: 77%;
          height: 9%;
          border:solid 1px #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      /*input Correo2*/

      .Registro1>#BEmpleados>input:nth-child(4){
          position: absolute;
         
          font-size:15px;
          padding-left:10px;
          top:46%;
          right:10%;
          width: 77%;
          height: 9%;
          border:solid 1px #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      /*input Contraseña*/

      .Registro1>#BEmpleados>input:nth-child(5){
          position: absolute;
         
          font-size:15px;
          padding-left:10px;
          top:64%;
          right:10%;
          width: 77%;
          height: 9%;
          border:solid 1px #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      .Registro1>#BEmpleados>a:link{
          background: #ff738f;
          color:white;
         
          font-size:15px;
          font-style: bold;
          position: absolute;
          text-decoration:none;
          text-align:center;   
          top:80%;
          right:15%;
          width: 30%;
          height: 9%;
          border:solid 0px;
          z-index:44444;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      .Registro1>#OfreceE>input:nth-child(1){
          position: absolute;
         
          font-size:15px;
          padding-left:10px;
          top:10%;
          left:10%;
          width: 77%;
          height: 9%;
          border:solid 1px #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }

      .Registro1>#OfreceE>input:nth-child(2){
          position: absolute;
         
          font-size:15px;
          padding-left:10px;
          top:28%;
          right:10%;
          width: 77%;
          height: 9%;
          border:solid 1px #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      /*input Correo2*/

      .Registro1>#OfreceE>input:nth-child(3){
          position: absolute;
         
          font-size:15px;
          padding-left:10px;
          top:46%;
          right:10%;
          width: 77%;
          height: 9%;
          border:solid 1px #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      /*input Contraseña*/

      .Registro1>#OfreceE>input:nth-child(4){
          position: absolute;
         
          font-size:15px;
          padding-left:10px;
          top:64%;
          right:10%;
          width: 77%;
          height: 9%;
          border:solid 1px #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      .Registro1>#OfreceE>a:link{
          background: #ff738f;
          color:white;
         
          font-size:15px;
          font-style: bold;
          position: absolute;
          text-decoration:none;
          text-align:center;   
          top:80%;
          right:15%;
          width: 30%;
          height: 9%;
          border:solid 0px;
          z-index:44444;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }

    #redesF{
        position: absolute;
        margin-top: 64%;
        margin-left: 55%;
        background-image: url(../img/facebbok.png);
        width: 73px;
        height: 73px;

    }


    /*caja de dialogo de login de facebook*/
    .facebook{
        background-color: white;
        border:2px solid red;
        position: absolute;
        margin-left: 30%;
        margin-top:-20%;
        width: 40%;
        height: 40%;
        z-index:100000;
    }

    /*boton de linkedin*/
    #redesI{
        position: absolute;
        margin-top:64%;
        margin-left: 35%;
        background-image: url(../img/linkedin.png);
        width: 73px;
        height:73px;
        -webkit-transition: all 0.40s ease;
        -moz-transition: all 0.40s ease;
        -o-transition: all 0.40s ease;

    }





    /*caja de dialogo de linkedin*/
    .linkedin{
        background-color: white;
        border:2px solid blue;
        position: absolute;
        margin-left: 30%;
        margin-top:-20%;
        width: 40%;
        height: 60%;
        z-index:100000;
    }
    .siguiente{
        position: absolute;
        width: 85%;
        height: 75px;
        bottom:0%;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
    }


      /*inicio de la siguiente  pagina*/
      .pantalla1{
          position:relative;
          color:white;
          background:#459fff;
          height: 100vh;
          max-height: 100vh;
          width: auto; 
          min-width: 100vw; 
          margin: 0 auto;
          overflow: hidden; 
      }
      /*Contenedor de las imagenes y texto*/

      .pantalla1>#conteni{
          position: absolute;
          width: 100%;
          height:100%;
          margin-top:0%;
          margin-left:0%;
          max-width:100%;

        }

      /*imagenes de la pantalla2*/
      .pantalla1>#conteni>img:nth-child(1){
          position: absolute;
          margin-left: 10%;
          margin-top:8%;
          width: auto;
          height:18%;

      }


      .pantalla1>#conteni>img:nth-child(2){
          position: absolute;
          right:10%;
          margin-top:8%;
          width: auto;
          height:18%;
      }


      .pantalla1>#conteni>img:nth-child(3){
          position: absolute;
          margin-left:10%;
          margin-top:50%;
          width: auto;
          height:18%;
      }


      .pantalla1>#conteni>img:nth-child(4){
          position: absolute;
          right: 10%;
          margin-top:50%;
          width: auto;
          height:18%;
      }


      .pantalla1>#conteni>img:nth-child(5){
          position: absolute;
          margin-left: 10%;
          margin-top:96%;
          width: auto;
          height:18%;

      }


      .pantalla1>#conteni>img:nth-child(6){
          position: absolute;
          right: 12%;
          margin-top:96%;
          width: auto;
          height:20%;
      }


      /*texto de la pantalla2*/
      #titulo1{
          position: absolute;
          width: 80px;
          height: 95px;
          margin-left: 43%;
          margin-top:15%;
          max-width: 100%;
         
      }



      #L{
          position: absolute;
          top:0px;
          
          font-size:30px;
          font-weight:900;
      }


      #l{
          position: absolute;
          top:30px;
          left: 8px;
          
          font-size:15px;
      }


      #titulo2{
          position: absolute;
          width: 100px;
          height: 32%;
          margin-left: 6%;
          margin-top:44%;
          
          font-size: 15px;
          font-style: normal;
          padding-left:20px;


      }


      #L2{
          position: absolute;
          top:0px;
          
          font-size:25px;
          font-stwebold;
      }


      #l2{
          position: absolute;
          top:78%;
          left:23px;
          
          font-size:13px;
      }


      #titulo3{
          position: absolute;
          width: 100px;
          height: 55px;
          margin-left: 40%;
          margin-top:54%;
          
          font-size: 15px;
          font-style: normal;
          padding-left:20px;


      }


      #L3{
          position: absolute;
          top:0px;
          
          font-size:20px;
          font-stwebold;
          font-weight:900px;
      }


      #l3{
          position: absolute;
          top:25px;
          left:10px;
          
          font-size:13px;
      }

      #titulo4{
          position: absolute;
          width: 100px;
          height: 55px;
          margin-left: 42%;
          margin-top:99%;
          
          font-size: 15px;
          font-style: normal;
          padding-left:20px;

      }
      #L4{
          position: absolute;
          top:0px;
          
          font-size:20px;
          font-stwebold;
      }
      #l4{
          position: absolute;
          top:25px;
          left:15px;
          
          font-size:13px;
      }
      .pantalla2{
          position:relative;
          color:white;
          background:#5fddff;
          height: 100vh;
          max-height: 100vh;
          width: auto; 
          min-width: 100vw; 
          margin: 0 auto;
          overflow: hidden; 

      }
      /*div que contiene imagenes y texto*/
      .pantalla2>#conteni2{
          position: absolute;
          width: 100%;
          height:100%;
          top:0%;
          left:0%;

       }

       /*imagenes y contenido 1 pagina3*/
      .pantalla2>#conteni2>img:nth-child(1){
          position: absolute;
          margin-left: 10%;
          margin-top:2%;
          width: auto;
          height:20%;
      }
       /*imagenes y contenido 2 pagina3*/
      .pantalla2>#conteni2>img:nth-child(2){
          position: absolute;
          margin-left:15%;
          margin-top:40%;
          width: auto; 
          height:20%;
      }
      .pantalla2>#conteni2>img:nth-child(3){
          position: absolute;
          margin-left: 10%;
          margin-top:78%;
          width: auto;
          height:20%;
      }

      #L5{
          position: absolute;
          margin-top:9%;
          margin-left:43%;
          
          font-size:23px;
          font-weight:900;

      }
      #l5{
          position: absolute;
          margin-top:18%;
          margin-left:43%;
          
          font-size:13px;
          text-align: left;

      }


      #L6{
          position: absolute;
          margin-top:48%;
          margin-left:43%;
          
          font-size:23px;
          font-weight:900;

      }
      #l6{
          position: absolute;
          margin-top:56%;
          margin-left:43%;
          
          font-size:13px;
          text-align: left;
      }

       /*imagenes y contenido 3 pagina3*/

      #L7{
          position: absolute;
          margin-top:80%;
          margin-left:43%;
          
          font-size:23px;
          font-weight:900;

      }
      #l7{
          position: absolute;
          margin-top:88%;
          margin-left:43%;
          
          font-size:13px;
          text-align: left;
      }
      .siguiente2{
        position: absolute;
        width: 85%;
        height: 75px;
        bottom:0%;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
    }




    .pantalla3{
          position:relative;
          color:white;
          background:#ff738f;
          height: 100vh;
          max-height: 100vh;
          width: auto; 
          min-width: 100vw; 
          margin: 0 auto;
          overflow: hidden; 
      }


      /*div de contenido de texto e imagenes*/
      .pantalla3>#conteni3{
          top:0%;  
       }


      .pantalla3>#conteni3>img:nth-child(1){
          position: absolute;
          margin-left: 15%;
          margin-top:1%;
          width: auto;
          height:30%;
      }


      .pantalla3>#conteni3>img:nth-child(2){
          position: absolute;
          margin-left:11%;
          margin-top:40%;
          width: auto; 
          height:30%;
      }
       .pantalla3>#conteni3>img:nth-child(3){
          position: absolute;
          margin-left: 10%;
          margin-top:80%;
          width: auto;
          height:14%;
      }
       
    #L8{
          position: absolute;
          margin-top:10%;
          margin-left:47%;
          
          font-size:23px;
          font-weight:900;

      }
      #l8{
          position: absolute;
          margin-top:18%;
          margin-left:47%;
          
          font-size:13px;
          text-align: left;

      }


      #L9{
          position: absolute;
          margin-top:47%;
          margin-left:47%;
          
          font-size:23px;
          font-weight:900;

      }
      #l9{
          position: absolute;
          margin-top:55%;
          margin-left:47%;
          
          font-size:13px;
          text-align: left;


      }

      #L10{
          position: absolute;
          margin-top:79%;
          margin-left:47%;
          
          font-size:23px;
          font-weight:900;

      }
      #l10{
          position: absolute;
          margin-top:86%;
          margin-left:47%;
          
          font-size:12px;
          text-align: left;
      }


}


























