
body{
	font-family: 'Raleway';
}
img{ 
    max-width:100%;
 }
.sec1{
	position: absolute;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
}
.sec1>#logo{
	position:absolute;
	right:42%;
	top:10%;
	text-align: center;

}
.sec1>#tex_B{
	position: absolute;
	right: 28%;
	top:19%;
	color:#cccccc;
	font-size:150%;
	text-align: center;

}
.sec1>#tex_p{
	position: absolute;
	right: 35%;
	top:26%;
	color:#cccccc;
	font-size:110%;
	text-align: center;

}
.sec1>#camposP{
	position: absolute;
	top:40%;
	left:30%;
	width:40%;
	height:40%;

}
.sec1>#camposP>input:nth-child(1){
	position:absolute;
	padding-left: 2%;
	top:2%;
	left:20%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.sec1>#camposP>input:nth-child(2){
	position:absolute;
	padding-left: 2%;
	top:22%;
	left:20%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.sec1>#camposP>input:nth-child(3){
	position:absolute;
	padding-left: 2%;
	top:42%;
	left:20%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.sec1>#camposP>input:nth-child(4){
	position:absolute;
	padding-left: 2%;
	top:2%;
	left:67%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
border-radius: 6px;
}
.sec1>#camposP>input:nth-child(5){
	position:absolute;
	padding-left: 2%;
	top:22%;
	left:67%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.sec1>#camposP>input:nth-child(6){
	position:absolute;
	padding-left: 2%;
	top:42%;
	left:67%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.sec1>#camposP>#nombre{
	position:absolute;
	top:0%;
	left:12%;
	

}
.sec1>#camposP>#profesion{
	position:absolute;
	top:20%;
	left:12%;
	
	
}
.sec1>#camposP>#edad{
	position:absolute;
	top:40%;
	left:12%;
	
	
}
.sec1>#camposP>#telefono{
	position:absolute;
	top:0%;
	left:58%;
	
	
}
.sec1>#camposP>#mail{
	position:absolute;
	top:20%;
	left:58%;
	
	
}
.sec1>#camposP>#trabajo{
	position:absolute;
	top:40%;
	left:58%;
	
	
}
.sec1>#boton1{
	position: absolute;
	right:4%;
	top:50%;
	z-index:1000;
}







.sec2{
	position: absolute;
	left:100%;
	top:0%;
	width:100%;
	height:100%;
}
.sec2>#logo2{
	position:absolute;
	right:42%;
	top:10%;
	text-align: center;

}
.sec2>#tex_B2{
	position: absolute;
	right: 28%;
	top:19%;
	color:#cccccc;
	font-size:150%;
	text-align: center;

}
.sec2>#tex_p2{
	position: absolute;
	right: 36%;
	top:26%;
	color:#cccccc;
	font-size:110%;
	text-align: center;

}
.sec2>#puesto{
	position: absolute;
	left:40%;
	border:solid 1px #cccccc;
	top:40%;
	height:4%;
	width:22%;
	padding-left:1%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.sec2>#sexo{
	position: absolute;
	left:40%;
	border:solid 1px #cccccc;
	top:50%;
	width:10%;
}
.sec2>#edad{
	position: absolute;
	left:52%;
	border:solid 1px #cccccc;
	top:50%;
	width:10%;
}
.sec2>#exp{
	position: absolute;
	left:40%;
	top:57%;
	border:solid 1px #cccccc;
	width:10%;	
}
.sec2>#Esc{
	position: absolute;
	left:52%;
	top:57%;
	border:solid 1px #cccccc;
	width:10%;	
}
.sec2>#boton2_1{
	position: absolute;
	left:4%;
	top:50%;
	z-index:1000;
}
.sec2>#boton2_2{
	position: absolute;
	right:4%;
	top:50%;
	z-index:1000;
}








.sec3{
	position: absolute;
	left:200%;
	top:0%;
	width:100%;
	height:100%;
}
.sec3>#logo3{
	position:absolute;
	right:42%;
	top:10%;
	text-align: center;

}
.sec3>#tex_B3{
	position: absolute;
	right: 34%;
	top:19%;
	color:#cccccc;
	font-size:150%;
	text-align: center;

}
.sec3>#tex_p3{
	position: absolute;
	right: 40%;
	top:26%;
	color:#cccccc;
	font-size:110%;
	text-align: center;

}
.sec3>#hab{
	position: absolute;
	right:39%;
	top:35%;
	width:20%;
	border:solid 1px #cccccc;
	height:10%;
}
.sec3>#Des{
	position: absolute;
	right:39%;
	top:50%;
	width:20%;
	border:solid 1px #cccccc;
	height:10%;
}
.sec3>#sueldo{
	position: absolute;
	right:39%;
	top:65%;
	height:5%;
	width:19%;
	padding-left:1%;
	border:solid 1px #cccccc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}


.sec3>#boton3_1{
	position: absolute;
	left:4%;
	top:50%;
	z-index:1000;
}
.sec3>#boton3_2{
	position: absolute;
	right:4%;
	top:50%;
	z-index:1000;
}
