
body{
	font-family: 'Raleway';
}
img{ 
    max-width:100%;
 }
.pag1{
	position: absolute;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
}
.pag1>#logo{
	position:absolute;
	right:42%;
	top:10%;
	text-align: center;

}
.pag1>#tex_B{
	position: absolute;
	right: 34%;
	top:19%;
	color:#cccccc;
	font-size:150%;
	text-align: center;

}
.pag1>#tex_p{
	position: absolute;
	right: 40%;
	top:26%;
	color:#cccccc;
	font-size:110%;
	text-align: center;

}
.pag1>#boton1{
	position: absolute;
	right:4%;
	top:50%;
	z-index:1000;
}
.pag1>#imagen_N{
	position: absolute;
	text-align: center;
	left:42.5%;
	top:38%;
	z-index:3;

}

.pag1>#tex_nf{
	position:absolute;
	text-align:center;
	left: 44%;
	top:73%;
	color:#cccccc;
	font-size:120%;
	font-family: 'Raleway';

}
.pag1>#recom_1{
	position: absolute;
	left: 7%;
	top: 43%;
	height:20%;
	width: 27%;
	border:solid 2px #ff718d;
}
.pag1>#recom_1>#conten_1{
	position: absolute;
	top:-2%;
	left: 5%;
	height:104%;
	width:90%;
	color:#cccccc;
	text-align: center;
	background: white;
	z-index:3;
}
.pag1>#recom_1>#conten_1>h1{
	text-align: center;
	color:#ff718d;
	
}
.pag1>#recom_2{
	position: absolute;
	right: 7%;
	top: 43%;
	height:20%;
	width: 27%;
	border:solid 2px #3f9cff;

}
.pag1>#recom_2>#conten_2{
	position: absolute;
	top:-2%;
	left: 5%;
	text-align: center;
	height:104%;
	width:90%;
	color:#cccccc;
	background: white;
	z-index:3;
}
.pag1>#recom_2>#conten_2>h1{
	text-align: center;
	color:#3f9cff;
	
}







.pag2{
	position: absolute;
	left:100%;
	top:0%;
	width:100%;
	height:100%;
}
.pag2>#logo2{
	position:absolute;
	right:42%;
	top:10%;
	text-align: center;

}
.pag2>#tex_B2{
	position: absolute;
	right: 34%;
	top:19%;
	color:#cccccc;
	font-size:150%;
	text-align: center;

}
.pag2>#tex_p2{
	position: absolute;
	right: 36%;
	top:26%;
	color:#cccccc;
	font-size:110%;
	text-align: center;

}
.pag2>#camposP{
	position: absolute;
	top:40%;
	left:30%;
	width:40%;
	height:40%;

}
.pag2>#camposP>input:nth-child(1){
	position:absolute;
	padding-left: 2%;
	top:2%;
	left:20%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.pag2>#camposP>input:nth-child(2){
	position:absolute;
	padding-left: 2%;
	top:22%;
	left:20%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.pag2>#camposP>input:nth-child(3){
	position:absolute;
	padding-left: 2%;
	top:42%;
	left:20%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.pag2>#camposP>input:nth-child(4){
	position:absolute;
	padding-left: 2%;
	top:2%;
	left:67%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
border-radius: 6px;
}
.pag2>#camposP>input:nth-child(5){
	position:absolute;
	padding-left: 2%;
	top:22%;
	left:67%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.pag2>#camposP>input:nth-child(6){
	position:absolute;
	padding-left: 2%;
	top:42%;
	left:67%;
	border:solid 1px #cccccc;
	width:30%;
	height:8%;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.pag2>#camposP>#nombre{
	position:absolute;
	top:0%;
	left:12%;
	

}
.pag2>#camposP>#profesion{
	position:absolute;
	top:20%;
	left:12%;
	
	
}
.pag2>#camposP>#edad{
	position:absolute;
	top:40%;
	left:12%;
	
	
}
.pag2>#camposP>#telefono{
	position:absolute;
	top:0%;
	left:58%;
	
	
}
.pag2>#camposP>#mail{
	position:absolute;
	top:20%;
	left:58%;
	
	
}
.pag2>#camposP>#trabajo{
	position:absolute;
	top:40%;
	left:58%;
	
	
}
.pag2>#boton2_1{
	position: absolute;
	left:4%;
	top:50%;
	z-index:1000;
}
.pag2>#boton2_2{
	position: absolute;
	right:4%;
	top:50%;
	z-index:1000;
}





.pag3{
	position: absolute;
	left:200%;
	top:0%;
	width:100%;
	height:100%;
}
.pag3>#logo3{
	position:absolute;
	right:42%;
	top:10%;
	text-align: center;

}
.pag3>#tex_B3{
	position: absolute;
	right: 34%;
	top:19%;
	color:#cccccc;
	font-size:150%;
	text-align: center;

}
.pag3>#tex_p3{
	position: absolute;
	right: 40%;
	top:26%;
	color:#cccccc;
	font-size:110%;
	text-align: center;

}
.pag3>#editarH{
	position:absolute;
    left:30%;
	top:40%;
	height:40%;
	width: 40%;
    border:solid 1px #cccccc; 
    z-index:3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: block;
 }
.pag3>#editarH>#Totalhe{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height:85%;
    overflow: scroll;
    background: white;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}
.pag3>#editarH>.Nherramientas{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height:15%;
   -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background:#3f9cff;

}
.pag3>#editarH>.Nherramientas>input:nth-child(1){
    position:absolute;
    top:20%;
    left:2%;
    width:30%;
    height:40%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}
/*boton agregar habilidad*/
.pag3>#editarH>.Nherramientas>input:nth-child(2){
    position:absolute;
    top:24%;
    left:73%;
    width:15%;
    height:55%;
    background:rgba(255,255,255,0.6);
    color:#3f9cff;
    border:0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.pag3>#editarH>.Nherramientas>input:hover:nth-child(2){
   
    background:rgba(255,255,255,0.9);
    
}

.pag3>#editarH>.Nherramientas>#slider{
 position: absolute;
 top:30%;
 left:37%;
  
}
.pag3>#editarH>.Nherramientas>#slider>input[type="range"]{
background: blue;
}

.pag3>#editarH>input:nth-child(1){
   position:absolute;
   top:0%;
   right:28%;
   width:28%;
   z-index: 1;

}
.pag3>#editarH>.Nherramientas>#mas{
	position: absolute;
	right:4%;
	top:25%;
}

.pag3>#boton3_1{
	position: absolute;
	left:4%;
	top:50%;
	z-index:1000;
}
.pag3>#boton3_2{
	position: absolute;
	right:4%;
	top:50%;
	z-index:1000;
}




.pag4{
	position: absolute;
	left:300%;
	top:0%;
	width:100%;
	height:100%;
}
.pag4>#logo4{
	position:absolute;
	right:42%;
	top:10%;
	text-align: center;

}
.pag4>#tex_B4{
	position: absolute;
	right: 30%;
	top:19%;
	color:#cccccc;
	font-size:150%;
	text-align: center;

}
.pag4>#tex_p4{
	position: absolute;
	right: 32%;
	top:26%;
	color:#cccccc;
	font-size:110%;
	text-align: center;

}
.pag4>#editarH2{
	position:absolute;
    left:30%;
	top:40%;
	height:40%;
	width: 40%;
    border:solid 1px #cccccc; 
    z-index:3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: block;
 }
.pag4>#Totalhe2{
    position: absolute;
    top:40%;
    left:30%;
    width: 40%;
    height:35%;
    display: inline-block;
    overflow: scroll;
    z-index: 3;
    background:transparent;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}
.pag4>#editarH2>.formrow{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height:15%;
   -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background:#ff718d;

}
.pag4>#editarH2>.formrow>input:nth-child(1){
    position:absolute;
    top:20%;
    left:2%;
    width:30%;
    height:40%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}
/*boton agregar habilidad*/
.pag4>#editarH2>.formrow>input:nth-child(2){
    position:absolute;
    top:24%;
 	left:73%;
    width:15%;
    height:55%;
    background:rgba(255,255,255,0.6);
    color:#ff718d;
    border:0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.pag4>#editarH2>.formrow>input:hover:nth-child(2){
   
    background:rgba(255,255,255,0.9);
    
}

.pag4>#editarH2>.formrow>#slider2{
 position: absolute;
 top:30%;
 left:37%;
  
}
.pag4>#editarH2>.formrow>#slider2>input[type="range"]{
background: blue;
}

.pag4>#editarH2>>input:nth-child(1){
   position:absolute;
   top:0%;
   right:28%;
   width:28%;
   z-index: 1;

}
.pag4>#editarH2>.formrow>#mas2{
	position: absolute;
	right:4%;
	top:25%;
}
.pag4>#boton4_1{
	position: absolute;
	left:4%;
	top:50%;
	z-index:1000;
}
.pag4>#boton4_2{
	position: absolute;
	right:4%;
	top:50%;
	z-index:1000;
}
.pag5{
	position: absolute;
	left:400%;
	top:0%;
	width:100%;
	height:100%;
}
.pag5>#logo5{
	position:absolute;
	right:42%;
	top:10%;
	text-align: center;

}
.pag5>#tex_B5{
	position: absolute;
	right: 28%;
	top:19%;
	color:#cccccc;
	font-size:150%;
	text-align: center;

}
.pag5>#tex_p5{
	position: absolute;
	right: 35%;
	top:26%;
	color:#cccccc;
	font-size:110%;
	text-align: center;

}
.pag5>#h1{
	position: absolute;
	left:25%;
	top:40%;
	width:87.5px;
	height:87.5px;
	font-size:13px;
	color: white;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #3f9cff;
}
.pag5>#h1>p{
	position: absolute;
	top:24%;
	left:35%;
	text-align: center;
	
	}

.pag5>#h2{
	position: absolute;
	left:35%;
	top:40%;
	color: white;
	font-size:13px;
	width:87.5px;
	height:87.5px;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #ff718d;
}

.pag5>#h2>p{
	position: absolute;
	top:24%;
	left:13%;
	text-align: center;
	
	}

.pag5>#h3{
	position: absolute;
	left:45%;
	top:40%;
	font-size:13px;
    color: white;
	width:87.5px;
	height:87.5px;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #3f9cff;
}
.pag5>#h3>p{
position: absolute;
	top:24%;
	left:25%;
	text-align: center;


}
.pag5>#h4{
	position: absolute;
	left:55%;
	top:40%;
	font-size:13px;
	color: white;
	width:87.5px;
	height:87.5px;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #ff718d;
}
.pag5>#h4>p{
position: absolute;
	top:24%;
	left:25%;
	text-align: center;
	
}
.pag5>#h5{
	position: absolute;
	left:65%;
	top:40%;
	font-size:13px;
	color:white;
	width:87.5px;
	height:87.5px;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #3f9cff;
}
.pag5>#h5>p{
	position: absolute;
	top:24%;
	left:25%;
	text-align: center;
	font-weight:900;
	font-family:5px;
}

.pag5>#h6{
	position: absolute;
	left:25%;
	top:60%;
	font-size:13px;
    color:white;
	width:87.5px;
	height:87.5px;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #3f9cff;
}
.pag5>#h6>p{
	position: absolute;
	top:25%;
	left:15%;
	text-align: center;

}
.pag5>#h7{
	position: absolute;
	left:35%;
	top:60%;
	font-size:13px;
	color:white;
	width:87.5px;
	height:87.5px;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #ff718d;
}
.pag5>#h7>p{
	position: absolute;
	top:25%;
	left:25%;
	text-align: center;
	
}
.pag5>#h8{
	position: absolute;
	left:45%;
	top:60%;
	font-size:13px;
	color: white;
	width:87.5px;
	height:87.5px;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #3f9cff;
}
.pag5>#h8>p{
	position: absolute;
	top:25%;
	left:27%;
	text-align: center;
	
}
.pag5>#h9{
	position: absolute;
	left:55%;
	top:60%;
	font-size:13px;
	color:white;
	width:87.5px;
	height:87.5px;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #ff718d;
}
.pag5>#h9>p{
	position: absolute;
	top:15%;
	left:25%;
	text-align: center;
	
}
.pag5>#h10{
	position: absolute;
	left:65%;
	top:60%;
	font-size:13px;
	color: white;
	width:87.5px;
	height:87.5px;
	-webkit-border-radius: 43.5px;
	-moz-border-radius: 43.5px;
	border-radius: 43.5px;
	background: #3f9cff;
}
.pag5>#h10>p{
	position: absolute;
	top:25%;
	left:30%;
	text-align: center;
	font-weight:900;
	font-family:5px;
}

.pag5>#boton5_1{
	position: absolute;
	left:4%;
	top:50%;
	z-index:1000;
}
.pag5>#boton5_2{
	position: absolute;
	right:4%;
	top:50%;
	z-index:1000;
}
.pag6{
	position: absolute;
	left:500%;
	top:0%;
	width:100%;
	height:100%;
	background:yellow;	
}
.pag6>#boton6{
	position: absolute;
	left:4%;
	top:50%;
	z-index:1000;
}	
