/*pantalla un login page*/

body{
  min-height:650px;
  margin-top:0%;
  margin-left:0%;
  font-family: 'Raleway';
}


.video{
    position: relative;
    background-color:white;
    height: 100vh;
    max-height: 100vh;
    width: auto; 
    min-width: 100vw; 
    margin: 0 auto;
    overflow: hidden; 
}

/*input para accesar ala aplicacion*/
.video>input:nth-child(1){
    position:absolute;
    font-size: 12px;
    padding-left:7px;
    height:5%;
    width: 15%;
    right: 30%;
    border: 1px solid #c6c6c6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top:3%;
    z-index: 4;
}
.video>input:nth-child(2){
    position:absolute;
    font-size: 12px;
    padding-left:7px;
    height:5%;
    width: 15%;
    right: 13%;
    border: 1px solid #c6c6c6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top:3%;
    z-index: 4;
}

.video>a:nth-child(3) {
    position:absolute;
    font-size: 12px;
    font-style: bold;
    background-color:#459fff;
    color:white;
    padding-bottom: 4px;
    text-decoration:none;
    text-align:center;
    height:3%;
    padding-top:0.5%;
    width: 6%;
    right: 3%;
    border: 2px solid #459fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top:20px;
    z-index: 4;
 }

.video>input:nth-child(3):hover{
     background-color: rgba(69,159,255,0.6);
     color: white;
     
}

/*logo grande que aparece en medio de la pag*/
.logo{
    position: absolute;
    top:30%;
    text-align: center;
    width: 100%;
}

.logo>img{
    width:36%;

}
.slogan{
    position: absolute;
    left: 48%;
    top:43%;
    font-family: 'Raleway';
    font-size: 18px;
    font-style: bold;
    color:#ff738f;
    display: block;
}


/*boton del primer registro*/
#registro{
    position: absolute;
    bottom: 37%;
    left: 0%;
    width: 70px;
    height: 50.5px;
    background: transparent;
}


#registro>img{
    position: absolute;
    top: -5.8px;
    left: 0%; 
}


/*caja de dialogo de registro*/
.Registro1{
  background-color:rgba(69,159,255,0.7);
  position: absolute;
  left: 35%;
  top:35%;
  width: 40%;
  height: 50%;
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  border-radius: 31px;
  z-index:1;

}


/*boton Buscas Empleo*/
.Registro1>input:nth-child(1){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
    background: #ff738f;
    color:white;
    top:-15%;
    left:15%;
    width: 30%;
    height: 10%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Ofreces Empleo*/
.Registro1>input:nth-child(2){
    position: absolute;
    font-family:'Raleway';
     background: #ff738f;
    font-size:15px;
    font-style: bold;
    color:white;
    top:-15%;
    right:15%;
    width: 30%;
    height: 10%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input boton cancelar*/

.Registro1>input:nth-child(3){
    background: #ff738f;
    color:white;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
    position: absolute;
    top:80%;
    left:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input boton Unirse*/
.Registro1>input:nth-child(4){
    background: #ff738f;
    color:white;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
    position: absolute;
    top:80%;
    right:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*input Nombre*/
.Registro1>#BEmpleados>input:nth-child(1){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:10%;
    left:10%;
    width: 35%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Apellido*/

.Registro1>#BEmpleados>input:nth-child(2){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:10%;
    right:10%;
    width: 35%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Correo*/

.Registro1>#BEmpleados>input:nth-child(3){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:28%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Correo2*/

.Registro1>#BEmpleados>input:nth-child(4){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:46%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Contraseña*/

.Registro1>#BEmpleados>input:nth-child(5){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:64%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.Registro1>#BEmpleados>a:nth-child(6){
    background: #ff738f;
    color:white;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
    position: absolute;
    padding-top:1%;
    text-decoration:none;
    text-align:center;   
    top:80%;
    right:15%;
    width: 30%;
    height: 8%;
    border:solid 0px;
    z-index:44444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.Registro1>#OfreceE>input:nth-child(1){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:30%;
    left:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.Registro1>#OfreceE>input:nth-child(2){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:48%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Correo2*/



.Registro1>#OfreceE>a:nth-child(3){
    background: #ff738f;
    color:white;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
    position: absolute;
    text-decoration:none;
    text-align:center; 
    padding-top:1%;
    top:80%;
    right:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    z-index:44444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/*boton de login facebook*/
#redesF{
    position: absolute;
    bottom: 15%;
    left: 0%;
    background-image: url(../img/face3.png);
    width: 128px;
    height: 51px;

}


/*caja de dialogo de login de facebook*/
.facebook{
    background-color: white;
    border:2px solid red;
    position: absolute;
    margin-left: 30%;
    margin-top:-20%;
    width: 40%;
    height: 60%;
    z-index:100000;
}

/*boton de linkedin*/
#redesI{
    position: absolute;
    bottom: 26%;
    left: 0%;
    background-image: url(../img/linke3.png);
    width: 128px;
    height:51px;
    -webkit-transition: all 0.40s ease;
    -moz-transition: all 0.40s ease;
    -o-transition: all 0.40s ease;

}





/*caja de dialogo de linkedin*/
.linkedin{
    background-color: white;
    border:2px solid blue;
    position: absolute;
    margin-left: 30%;
    margin-top:-20%;
    width: 40%;
    height: 60%;
    z-index:100000;
}


/*boton de siguiente pagina*/
.siguiente{
    position: absolute;
    width: 100%;
    height: 75px;
    bottom:0%;
    text-align:center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.siguiente>img{
    position: absolute;
    bottom:0%;
    z-index: 2;
}
/*fin de la primer pantalla*/



/*<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/





/*inicio de la siguiente  pagina*/
.pantalla1{
    position:relative;
    color:white;
    background:#459fff;
    height: 100vh;
    max-height: 100vh;
    width: auto; 
    min-width: 100vw; 
    margin: 0 auto;
    overflow: hidden; 
}
/*Contenedor de las imagenes y texto*/

.pantalla1>#conteni{
    position: absolute;
    width: 100%;
    height:100%;
    margin-top:0%;
    margin-left:0%;
    max-width:100%;

  }

/*imagenes de la pantalla2*/
.pantalla1>#conteni>img:nth-child(1){
    position: absolute;
    margin-left: 8%;
    margin-top:7%;
    max-width: 100%;

}


.pantalla1>#conteni>img:nth-child(2){
    position: absolute;
    margin-left: 46%;
    margin-top:7%;
    max-width: 100%;
}


.pantalla1>#conteni>img:nth-child(3){
    position: absolute;
    margin-left:80%;
    top:7%;
    max-width:60%;
}


.pantalla1>#conteni>img:nth-child(4){
    position: absolute;
    left: 8%;
    top:58%;
}


.pantalla1>#conteni>img:nth-child(5){
    position: absolute;
    left: 47%;
    top:58%;
    max-width: 100%;
}


.pantalla1>#conteni>img:nth-child(6){
    position: absolute;
    left: 82%;
    top:58%;
    max-width: 100%;
}


/*texto de la pantalla2*/
#titulo1{
    position: absolute;
    width: 80px;
    height: 95px;
    left: 31%;
    top:25%;
    max-width: 100%;
 
}



#L{
    position: absolute;
    top:0%;
    margin-left:23%;
    font-family: 'Raleway';
    font-size:28px;
    font-stwight:900;
    font-weight:900;
}


#l{
    position: absolute;
    top:30px;
    left: 11%;
    font-family: 'Raleway';
    font-size:15px;
}


#titulo2{
    position: absolute;
    width: 100px;
    height: 55px;
    left: 64%;
    top:25%;
    font-family: 'Raleway';
    font-size: 15px;
    font-style: normal;
    padding-left:20px;


}


#L2{
    position: absolute;
    top:0px;
    font-family: 'Raleway';
    font-size:28px;
    font-stwebold;
}


#l2{
    position: absolute;
    top:30px;
    left:30px;
    font-family: 'Raleway';
    font-size:15px;
}


#titulo3{
    position: absolute;
    width: 100px;
    height: 55px;
    left: 30%;
    top:63%;
    font-family: 'Raleway';
    font-size: 15px;
    font-style: normal;
    padding-left:20px;


}


#L3{
    position: absolute;
    top:0px;
    font-family: 'Raleway';
    font-size:28px;
    font-stwebold;
    font-weight:900px;
}


#l3{
    position: absolute;
    top:30px;
    left:15px;
    font-family: 'Raleway';
    font-size:15px;
}

#titulo4{
    position: absolute;
    width: 100px;
    height: 55px;
    left: 65%;
    top:64%;
    font-family: 'Raleway';
    font-size: 15px;
    font-style: normal;
    padding-left:20px;

}
#L4{
    position: absolute;
    top:0px;
    font-family: 'Raleway';
    font-size:28px;
    font-style:bold;
}
#l4{
    position: absolute;
    top:30px;
    left:20px;
    font-family: 'Raleway';
    font-size:15px;
}
.siguiente2{
    position: absolute;
    width: 100%;
    height: 75px;
    bottom:0%;
    text-align:center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
/*boton de siguiente pagina*/
.siguiente2>img{
    position: absolute;
    bottom:0%;
    z-index: 2;
}
/*fin de la pagina2*/


/*<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/




/*inicio de la pagina3*/
.pantalla2{
    position:relative;
    color:white;
    background:#5fddff;
    height: 100vh;
    max-height: 100vh;
    width: auto; 
    min-width: 100vw; 
    margin: 0 auto;
    overflow: hidden; 

}
/*div que contiene imagenes y texto*/
.pantalla2>#conteni2{
    position: absolute;
    width: 100%;
    height:90%;
    top:10%;
    left:0%;

 }

/*imagenes y contenido 1 pagina3*/
.pantalla2>#conteni2>img:nth-child(1){
    position: absolute;
    left: 8%;
    top:10%;
}
/*imagenes y contenido 2 pagina3*/
.pantalla2>#conteni2>img:nth-child(2){
    position: absolute;
    left: 48%;
    top:10%;
}
.pantalla2>#conteni2>img:nth-child(3){
    position: absolute;
    left: 78%;
    top:12%;
}

#L5{
    position: absolute;
    top:50%;
    left:7%;
    font-family: 'Raleway';
    font-size:28px;
    font-weight:900;

}
#l5{
    position: absolute;
    top:56%;
    left:5.5%;
    font-family: 'Raleway';
    font-size:15px;
    text-align: center;

}


#L6{
    position: absolute;
    top:50%;
    left:46.5%;
    font-family: 'Raleway';
    font-size:28px;
    font-weight:900;

}
#l6{
    position: absolute;
    top:56%;
    left:43.3%;
    font-family: 'Raleway';
    font-size:15px;
    text-align: center;

}

 /*imagenes y contenido 3 pagina3*/

#L7{
    position: absolute;
    top:50%;
    left:77.5%;
    font-family: 'Raleway';
    font-size:28px;
    font-weight:900;

}
#l7{
    position: absolute;
    top:56%;
    left:76.3%;
    font-family: 'Raleway';
    font-size:15px;
    text-align: center;
}


/*boton de siguiente pagina3*/
.siguiente3{
    position: absolute;
    width: 100%;
    height: 75px;
    bottom:0%;
    text-align:center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.siguiente3>img{
    position: absolute;
    bottom:0%;
    z-index: 2;

}
/*fin de la pagina3*/




/*<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/






/*inicio pagina 4*/
.pantalla3{
    position:relative;
    color:white;
    background:#ff738f;
    height: 100vh;
    max-height: 100vh;
    width: auto; 
    min-width: 100vw; 
    margin: 0 auto;
    overflow: hidden; 
}

/*div de contenido de texto e imagenes*/
.pantalla3>#conteni3{
    position: absolute;
    width: 100%;
    height:90%;
    top:10%;
    left:0%;
 }
.pantalla3>#conteni3>img:nth-child(1){
    position: absolute;
    left: 10%;
    top:10%;

}
.pantalla3>#conteni3>img:nth-child(2){
    position: absolute;
    left: 46%;
    top:10%;
}
.pantalla3>#conteni3>img:nth-child(3){
    position: absolute;
    left: 78%;
    top:30%;
}
 


#L8{
    position: absolute;
    top:55%;
    left:11%;
    font-family: 'Raleway';
    font-size:28px;
    font-weight:900;

}
#l8{
    position: absolute;
    top:60%;
    left:7%;
    font-family: 'Raleway';
    font-size:15px;
    text-align: center;
}


#L9{
    position: absolute;
    top:55%;
    left:46%;
    font-family: 'Raleway';
    font-size:28px;
    font-weight:900;
}

#l9{
    position: absolute;
    top:60%;
    left:46%;
    font-family: 'Raleway';
    font-size:15px;
}


#L10{
    position: absolute;
    top:55%;
    left:82%;
    font-family: 'Raleway';
    font-size:28px;
    font-weight:900;
}


#l10{
    position: absolute;
    top:60%;
    left:81.5%;
    font-family: 'Raleway';
    font-size:15px;
  }


.siguiente4{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom:0%;
    text-align:center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.siguiente4>img{
    position: absolute;
    bottom:0%;
    z-index: 2;
}




















@media handheld, only screen and (max-width: 900px) {
  .video{
      position: relative;
      background-color:white;
      height: 100vh;
      max-height: 100vh;
      width: auto; 
      min-width: 100vw; 
      margin: 0 auto;
      overflow: hidden; 
  }
  /*input para accesar ala aplicacion*/
  .video>input:nth-child(1){
      position:absolute;
      font-size: 12px;
      padding-left:7px;
      height:4%;
      width: 15%;
      right: 30%;
      border: 1px solid #c6c6c6;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      top:3%;
      z-index: 4;
  }
  .video>input:nth-child(2){
      position:absolute;
      font-size: 12px;
      padding-left:7px;
      height:4%;
      width: 15%;
      right: 13%;
      border: 1px solid #c6c6c6;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      top:3%;
      z-index: 4;
  }

  .video>a:nth-child(3) {
      position:absolute;
      font-size: 12px;
      font-style: bold;
      background-color:#459fff;
      color:white;
      padding-bottom: 4px;
      text-decoration:none;
      text-align:center;
      height:2%;
      padding-top:0.5%;
      width: 6%;
      right: 3%;
      border: 2px solid #459fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      top:20px;
      z-index: 4;
   }

  .video>input:nth-child(3):hover{
      background-color: rgba(69,159,255,0.6);
      color: white;
       
  }


  .slogan{
      position: absolute;
      left: 49%;
      top:40%;
      font-family: 'Raleway';
      font-size:12px;
      font-style: bold;
      color:#ff738f;
      display: block;
  }



  /*caja de dialogo de registro*/
  .Registro1{
      background-color:rgba(69,159,255,0.7);
      position: absolute;
      left: 28%;
      top:35%;
      width: 50%;
      height: 50%;
      -webkit-border-radius: 31px;
      -moz-border-radius: 31px;
      border-radius: 31px;
      z-index:1;

  }


  /*boton Buscas Empleo*/
  .Registro1>input:nth-child(1){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
       background: #ff738f;
      color:white;
      top:-15%;
      left:15%;
      width: 30%;
      height: 10%;
      border:solid 0px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

  /*input Ofreces Empleo*/
  .Registro1>input:nth-child(2){
      position: absolute;
      font-family:'Raleway';
      background: #ff738f;
      font-size:15px;
      font-style: bold;
      color:white;
      top:-15%;
      right:15%;
      width: 30%;
      height: 10%;
      border:solid 0px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input boton cancelar*/

  .Registro1>input:nth-child(3){
      background: #ff738f;
      color:white;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
      position: absolute;
      top:80%;
      left:15%;
      width: 30%;
      height: 9%;
      border:solid 0px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input boton Unirse*/
  .Registro1>input:nth-child(4){
      background: #ff738f;
      color:white;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
      position: absolute;
      top:80%;
      right:15%;
      width: 30%;
      height: 9%;
      border:solid 0px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

  /*input Nombre*/
  .Registro1>#BEmpleados>input:nth-child(1){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:10%;
      left:10%;
      width: 35%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Apellido*/

  .Registro1>#BEmpleados>input:nth-child(2){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:10%;
      right:10%;
      width: 35%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Correo*/

  .Registro1>#BEmpleados>input:nth-child(3){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:28%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Correo2*/

  .Registro1>#BEmpleados>input:nth-child(4){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:46%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Contraseña*/

  .Registro1>#BEmpleados>input:nth-child(5){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:64%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  .Registro1>#BEmpleados>a:link{
      background: #ff738f;
      color:white;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
      position: absolute;
      text-decoration:none;
      text-align:center;   
      top:80%;
      right:15%;
      width: 30%;
      height: 9%;
      border:solid 0px;
      z-index:44444;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  .Registro1>#OfreceE>input:nth-child(1){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:10%;
      left:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

  .Registro1>#OfreceE>input:nth-child(2){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:28%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Correo2*/

  .Registro1>#OfreceE>input:nth-child(3){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:46%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Contraseña*/

  .Registro1>#OfreceE>input:nth-child(4){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:64%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  .Registro1>#OfreceE>a:link{
      background: #ff738f;
      color:white;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
      position: absolute;
      text-decoration:none;
      text-align:center;   
      top:80%;
      right:15%;
      width: 30%;
      height: 9%;
      border:solid 0px;
      z-index:44444;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }


  





















  /*inicio de la siguiente  pagina*/
  .pantalla1{
      position:relative;
      color:white;
      background:#459fff;
      height: 100vh;
      max-height: 100vh;
      width: auto; 
      min-width: 100vw; 
      margin: 0 auto;
      overflow: hidden; 
  }
  /*Contenedor de las imagenes y texto*/

  .pantalla1>#conteni{
      position: absolute;
      width: 100%;
      height:100%;
      margin-top:0%;
      margin-left:0%;
      max-width:100%;

    }

  /*imagenes de la pantalla2*/
  .pantalla1>#conteni>img:nth-child(1){
      position: absolute;
      margin-left: 8%;
      margin-top:10%;
      width: auto;
      height:22%;

  }


  .pantalla1>#conteni>img:nth-child(2){
      position: absolute;
      margin-left: 46%;
      margin-top:10%;
      width: auto;
      height:22%;
  }


  .pantalla1>#conteni>img:nth-child(3){
      position: absolute;
      margin-left:80%;
      top:10%;
      width: auto;
      height:22%;
  }


  .pantalla1>#conteni>img:nth-child(4){
      position: absolute;
      left: 8%;
      top:58%;
      width: auto;
      height:22%;
  }


  .pantalla1>#conteni>img:nth-child(5){
      position: absolute;
      left: 47%;
      top:58%;
      width: auto;
      height:22%;

  }


  .pantalla1>#conteni>img:nth-child(6){
      position: absolute;
      left: 82%;
      top:58%;
      width: auto;
      height:22%;
  }


  /*texto de la pantalla2*/
  #titulo1{
      position: absolute;
      width: 80px;
      height: 95px;
      left: 33%;
      top:20%;
      max-width: 100%;
   }



  #L{
      position: absolute;
      top:0px;
      font-family: 'Raleway';
      font-size:22px;
      font-stwight:900;
      font-weight:900;
  }


  #l{
      position: absolute;
      top:30px;
      left: -8px;
      font-family: 'Raleway';
      font-size:13px;
  }


  #titulo2{
      position: absolute;
      width: 100px;
      height: 55px;
      left: 64%;
      top:20%;
      font-family: 'Raleway';
      font-size: 15px;
      font-style: normal;
      padding-left:20px;


  }


  #L2{
      position: absolute;
      top:0px;
      font-family: 'Raleway';
      font-size:22px;
      font-stwebold;
  }


  #l2{
      position: absolute;
      top:30px;
      left:22px;
      font-family: 'Raleway';
      font-size:13px;
  }


  #titulo3{
      position: absolute;
      width: 100px;
      height: 55px;
      left: 30%;
      top:63%;
      font-family: 'Raleway';
      font-size: 15px;
      font-style: normal;
      padding-left:20px;
  }


  #L3{
      position: absolute;
      top:0px;
      font-family: 'Raleway';
      font-size:22px;
      font-stwebold;
      font-weight:900px;
  }


  #l3{
      position: absolute;
      top:30px;
      left:10px;
      font-family: 'Raleway';
      font-size:13px;
  }

  #titulo4{
      position: absolute;
      width: 100px;
      height: 55px;
      left: 66%;
      top:64%;
      font-family: 'Raleway';
      font-size: 15px;
      font-style: normal;
      padding-left:20px;

  }
  #L4{
      position: absolute;
      top:0px;
      font-family: 'Raleway';
      font-size:22px;
      font-stwebold;
  }
  #l4{
      position: absolute;
      top:30px;
      left:15px;
      font-family: 'Raleway';
      font-size:13px;
  }
  .siguiente2{
       position: absolute;
      width: 100%;
      height: 75px;
      bottom:0%;
      text-align:center;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
  }
  /*boton de siguiente pagina*/
  .siguiente2>img{
      position: absolute;
      bottom:0%;
      z-index: 2;
  }


  .pantalla2{
      position:relative;
      color:white;
      background:#5fddff;
      height: 100vh;
      max-height: 100vh;
      width: auto; 
      min-width: 100vw; 
      margin: 0 auto;
      overflow: hidden; 

  }
  /*div que contiene imagenes y texto*/
  .pantalla2>#conteni2{
      position: absolute;
      width: 100%;
      height:90%;
      top:10%;
      left:0%;

   }

   /*imagenes y contenido 1 pagina3*/
  .pantalla2>#conteni2>img:nth-child(1){
      position: absolute;
      left: 10%;
      top:15%;
      width: auto;
      height:28%;
  }
   /*imagenes y contenido 2 pagina3*/
  .pantalla2>#conteni2>img:nth-child(2){
      position: absolute;
      left: 49%;
      top:15%;
      width: auto; 
      height:28%;
  }
  .pantalla2>#conteni2>img:nth-child(3){
      position: absolute;
      left: 75%;
      top:15%;
      width: auto;
      height:28%;
  }

  #L5{
      position: absolute;
      top:48%;
      left:8%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l5{
      position: absolute;
      top:54%;
      left:7%;
      font-family: 'Raleway';
      font-size:10px;
      text-align: center;

  }


  #L6{
      position: absolute;
      top:48%;
      left:47%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l6{
      position: absolute;
      top:54%;
      left:44%;
      font-family: 'Raleway';
      font-size:10px;
      text-align: center;

  }

   /*imagenes y contenido 3 pagina3*/

  #L7{
      position: absolute;
      top:48%;
      left:75%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l7{
      position: absolute;
      top:54%;
      left:75%;
      font-family: 'Raleway';
      font-size:10px;
      text-align: center;
    }
  /*boton de siguiente pagina3*/
  .siguiente3{
      position: absolute;
      width: 100%;
      height: 75px;
      bottom:0%;
      text-align:center;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
  }
  .siguiente3>img{
      position: absolute;
      bottom:0%;
      z-index: 2;

  }
  /*fin de la pagina3*/




  /*inicio pagina 4*/
  .pantalla3{
      position:relative;
      color:white;
      background:#ff738f;
      height: 100vh;
      max-height: 100vh;
      width: auto; 
      min-width: 100vw; 
      margin: 0 auto;
      overflow: hidden; 
  }


  /*div de contenido de texto e imagenes*/
  .pantalla3>#conteni3{
      position: absolute;
      width: 100%;
      height:90%;
      top:10%;
      left:0%;
   }


  .pantalla3>#conteni3>img:nth-child(1){
      position: absolute;
      left: 10%;
      top:10%;
      width: auto;
      height:30%;
  }


  .pantalla3>#conteni3>img:nth-child(2){
      position: absolute;
      left: 44%;
      top:10%;
      width: auto;
      height:30%;
  }
   .pantalla3>#conteni3>img:nth-child(3){
      position: absolute;
      left: 76%;
      top:27%;
      width: auto;
      height:13%;
  }
   


  #L8{
      position: absolute;
      top:50%;
      left:11%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l8{
      position: absolute;
      top:58%;
      left:5%;
      font-family: 'Raleway';
      font-size:13px;
      text-align: center;
  }


  #L9{
      position: absolute;
      top:50%;
      left:44%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l9{
      position: absolute;
      top:58%;
      left:42%;
      font-family: 'Raleway';
      font-size:13px;


  }

  #L10{
      position: absolute;
      top:50%;
      left:80%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l10{
      position: absolute;
      top:58%;
      left:78%;
      font-family: 'Raleway';
      font-size:13px;
  }

  .siguiente4{
      position: absolute;
      width: 100%;
      height: 60px;
      bottom:0%;
      text-align:center;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
  }

  .siguiente4>img{
      position: absolute;
      bottom:0%;
      z-index: 2;
  }
}















@media handheld, only screen and (max-width: 768px) {

  .video{
    position: relative;
    background-color:white;
    height: 100vh;
     max-height: 100vh;
     width: auto; 
     min-width: 100vw; 
     margin: 0 auto;
     overflow: hidden; 
}
.video>input:nth-child(1){
    position:absolute;
    font-size: 12px;
    padding-left:7px;
    height:4%;
    width: 15%;
    right: 30%;
    border: 1px solid #c6c6c6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top:3%;
    z-index: 4;
}
.video>input:nth-child(2){
    position:absolute;
    font-size: 12px;
    padding-left:7px;
    height:4%;
    width: 15%;
    right: 13%;
    border: 1px solid #c6c6c6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top:3%;
    z-index: 4;
}

.video>a:nth-child(3) {
    position:absolute;
    font-size: 12px;
    font-style: bold;
    background-color:#459fff;
    color:white;
    padding-bottom: 4px;
    text-decoration:none;
    text-align:center;
    height:3%;
    padding-top:0.5%;
    width: 7%;
    right: 3%;
    border: 2px solid #459fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top:20px;
    z-index: 4;
 }

.video>input:nth-child(3):hover{
     background-color: rgba(69,159,255,0.6);
     color: white;
     
}


.slogan{
    position: absolute;
    left: 47%;
    top:38%;
    font-family: 'Raleway';
    font-size:12px;
    font-style: bold;
    color:#ff738f;
    display: block;
}



/*caja de dialogo de registro*/
.Registro1{
  background-color:rgba(69,159,255,0.7);
  position: absolute;
  left: 28%;
  top:35%;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  border-radius: 31px;
  z-index:1;

}


/*boton Buscas Empleo*/
.Registro1>input:nth-child(1){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
     background: #ff738f;
    color:white;
    top:-15%;
    left:15%;
    width: 30%;
    height: 10%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Ofreces Empleo*/
.Registro1>input:nth-child(2){
    position: absolute;
    font-family:'Raleway';
     background: #ff738f;
    font-size:15px;
    font-style: bold;
    color:white;
    top:-15%;
    right:15%;
    width: 30%;
    height: 10%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input boton cancelar*/

.Registro1>input:nth-child(3){
    background: #ff738f;
    color:white;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
    position: absolute;
    top:80%;
    left:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input boton Unirse*/
.Registro1>input:nth-child(4){
    background: #ff738f;
    color:white;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
    position: absolute;
    top:80%;
    right:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*input Nombre*/
.Registro1>#BEmpleados>input:nth-child(1){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:10%;
    left:10%;
    width: 35%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Apellido*/

.Registro1>#BEmpleados>input:nth-child(2){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:10%;
    right:10%;
    width: 35%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Correo*/

.Registro1>#BEmpleados>input:nth-child(3){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:28%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Correo2*/

.Registro1>#BEmpleados>input:nth-child(4){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:46%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Contraseña*/

.Registro1>#BEmpleados>input:nth-child(5){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:64%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.Registro1>#BEmpleados>a:link{
    background: #ff738f;
    color:white;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
    position: absolute;
    text-decoration:none;
    text-align:center;   
    top:80%;
    right:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    z-index:44444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.Registro1>#OfreceE>input:nth-child(1){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:10%;
    left:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.Registro1>#OfreceE>input:nth-child(2){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:28%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Correo2*/

.Registro1>#OfreceE>input:nth-child(3){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:46%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*input Contraseña*/

.Registro1>#OfreceE>input:nth-child(4){
    position: absolute;
    font-family:'Raleway';
    font-size:15px;
    padding-left:10px;
    top:64%;
    right:10%;
    width: 77%;
    height: 9%;
    border:solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.Registro1>#OfreceE>a:link{
    background: #ff738f;
    color:white;
    font-family:'Raleway';
    font-size:15px;
    font-style: bold;
    position: absolute;
    text-decoration:none;
    text-align:center;   
    top:80%;
    right:15%;
    width: 30%;
    height: 9%;
    border:solid 0px;
    z-index:44444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}























/*inicio de la siguiente  pagina*/
.pantalla1{
    position:relative;
    color:white;
    background:#459fff;
    height: 100vh;
    max-height: 100vh;
    width: auto; 
    min-width: 100vw; 
    margin: 0 auto;
    overflow: hidden; 
}
/*Contenedor de las imagenes y texto*/

.pantalla1>#conteni{
    position: absolute;
    width: 100%;
    height:100%;
    margin-top:0%;
    margin-left:0%;
    max-width:100%;

  }

/*imagenes de la pantalla2*/
.pantalla1>#conteni>img:nth-child(1){
    position: absolute;
    margin-left: 8%;
    margin-top:15%;
    width: auto;
    height:18%;

}


.pantalla1>#conteni>img:nth-child(2){
    position: absolute;
    margin-left: 46%;
    margin-top:15%;
    width: auto;
    height:18%;
}


.pantalla1>#conteni>img:nth-child(3){
    position: absolute;
    margin-left:80%;
    top:15%;
    width: auto;
    height:18%;
}


.pantalla1>#conteni>img:nth-child(4){
    position: absolute;
    left: 8%;
    top:53%;
    width: auto;
    height:18%;
}


.pantalla1>#conteni>img:nth-child(5){
    position: absolute;
    left: 47%;
    top:53%;
    width: auto;
    height:18%;

}


.pantalla1>#conteni>img:nth-child(6){
    position: absolute;
    left: 82%;
    top:53%;
    width: auto;
    height:18%;
}


/*texto de la pantalla2*/
#titulo1{
  position: absolute;
  width: 80px;
  height: 95px;
  left: 33%;
  top:25%;
  max-width: 100%;
 
}



#L{
    position: absolute;
    top:0px;
    font-family: 'Raleway';
    font-size:22px;
    font-stwight:900;
    font-weight:900;
}


#l{
    position: absolute;
    top:30px;
    left: -8px;
    font-family: 'Raleway';
    font-size:13px;
}


#titulo2{
  position: absolute;
  width: 100px;
  height: 55px;
  left: 64%;
  top:25%;
  font-family: 'Raleway';
  font-size: 15px;
  font-style: normal;
  padding-left:20px;


}


#L2{
   position: absolute;
   top:0px;
    font-family: 'Raleway';
    font-size:22px;
    font-stwebold;
}


#l2{
    position: absolute;
    top:30px;
    left:22px;
    font-family: 'Raleway';
    font-size:13px;
}


#titulo3{
    position: absolute;
    width: 100px;
    height: 55px;
    left: 30%;
    top:58%;
    font-family: 'Raleway';
    font-size: 15px;
    font-style: normal;
    padding-left:20px;
}


#L3{
    position: absolute;
    top:0px;
    font-family: 'Raleway';
    font-size:22px;
    font-stwebold;
    font-weight:900px;
}


#l3{
    position: absolute;
    top:30px;
    left:10px;
    font-family: 'Raleway';
    font-size:13px;
}

#titulo4{
    position: absolute;
    width: 100px;
    height: 55px;
    left: 66%;
    top:58%;
    font-family: 'Raleway';
    font-size: 15px;
    font-style: normal;
    padding-left:20px;
}

#L4{
    position: absolute;
    top:0px;
    font-family: 'Raleway';
    font-size:22px;
    font-stwebold;
}
#l4{
    position: absolute;
    top:30px;
    left:15px;
    font-family: 'Raleway';
    font-size:13px;
}



}
















@media handheld, only screen and (max-width: 480px) {
  .video{
      position: relative;
      background-color:white;
      height: 100vh;
      max-height: 100vh;
      width: auto; 
      min-width: 100vw; 
      margin: 0 auto;
      overflow: hidden; 
  }
  /*input para accesar ala aplicacion*/
  .video>input:nth-child(1){
      position:absolute;
      font-size: 12px;
      padding-left:7px;
      height:4%;
      width: 30%;
      right: 60%;
      border: 1px solid #c6c6c6;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      top:3%;
      z-index: 4;
  }
  .video>input:nth-child(2){
      position:absolute;
      font-size: 12px;
      padding-left:7px;
      height:4%;
      width: 30%;
      right: 25%;
      border: 1px solid #c6c6c6;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      top:3%;
      z-index: 4;
  }

  .video>a:nth-child(3) {
      position:absolute;
      font-size: 12px;
      font-style: bold;
      background-color:#459fff;
      color:white;
      padding-bottom: 4px;
      text-decoration:none;
      text-align:center;
      height:3%;
      padding-top:0.5%;
      width: 12%;
      right: 7%;
      border: 2px solid #459fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      top:20px;
      z-index: 4;
   }

  .video>input:nth-child(3):hover{
      background-color: rgba(69,159,255,0.6);
      color: white;
       
  }

  /*logo grande que aparece en medio de la pag*/
  .logo{
      position: absolute;
      top:30%;
      text-align: center;
      width: 100%;
  }

  .logo>img{
      width:36%;

  }
  .slogan{
      display:none;
  }


  /*boton del primer registro*/
  #registro{
      position: absolute;
      bottom: 340px;
      margin-left:25%;
      width: 50%;
      height: 50.5px;
      background: #ff738f;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }


  #registro>img{
      position: absolute;
      margin-left:20%;
  }


  /*caja de dialogo de registro*/
  .Registro1{
      background-color:rgb(69,159,255);
      position: absolute;
      left: 0%;
      top:35%;
      width: 100%;
      height: 50%;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      z-index:1;

  }


  /*boton Buscas Empleo*/
  .Registro1>input:nth-child(1){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
      background: #ff738f;
      color:white;
      top:-15%;
      left:15%;
      width: 30%;
      height: 10%;
      border:solid 0px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Ofreces Empleo*/
  .Registro1>input:nth-child(2){
      position: absolute;
      font-family:'Raleway';
      background: #ff738f;
      font-size:15px;
      font-style: bold;
      color:white;
      top:-15%;
      right:15%;
      width: 30%;
      height: 10%;
      border:solid 0px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input boton cancelar*/

  .Registro1>input:nth-child(3){
      background: #ff738f;
      color:white;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
      position: absolute;
      top:80%;
      left:15%;
      width: 30%;
      height: 9%;
      border:solid 0px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input boton Unirse*/
  .Registro1>input:nth-child(4){
      background: #ff738f;
      color:white;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
      position: absolute;
      top:80%;
      right:15%;
      width: 30%;
      height: 9%;
      border:solid 0px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

  /*input Nombre*/
  .Registro1>#BEmpleados>input:nth-child(1){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:10%;
      left:10%;
      width: 35%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Apellido*/

  .Registro1>#BEmpleados>input:nth-child(2){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:10%;
      right:10%;
      width: 35%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Correo*/

  .Registro1>#BEmpleados>input:nth-child(3){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:28%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Correo2*/

  .Registro1>#BEmpleados>input:nth-child(4){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:46%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Contraseña*/

  .Registro1>#BEmpleados>input:nth-child(5){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:64%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  .Registro1>#BEmpleados>a:link{
      background: #ff738f;
      color:white;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
      position: absolute;
      text-decoration:none;
      text-align:center;   
      top:80%;
      right:15%;
      width: 30%;
      height: 9%;
      border:solid 0px;
      z-index:44444;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  .Registro1>#OfreceE>input:nth-child(1){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:10%;
      left:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

  .Registro1>#OfreceE>input:nth-child(2){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:28%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Correo2*/

  .Registro1>#OfreceE>input:nth-child(3){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:46%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  /*input Contraseña*/

  .Registro1>#OfreceE>input:nth-child(4){
      position: absolute;
      font-family:'Raleway';
      font-size:15px;
      padding-left:10px;
      top:64%;
      right:10%;
      width: 77%;
      height: 9%;
      border:solid 1px #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  .Registro1>#OfreceE>a:link{
      background: #ff738f;
      color:white;
      font-family:'Raleway';
      font-size:15px;
      font-style: bold;
      position: absolute;
      text-decoration:none;
      text-align:center;   
      top:80%;
      right:15%;
      width: 30%;
      height: 9%;
      border:solid 0px;
      z-index:44444;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }

#redesF{
    position: absolute;
    bottom: 40%;
    left: 55%;
    background-image: url(../img/facebbok.png);
    width: 73px;
    height: 73px;

}


/*caja de dialogo de login de facebook*/
.facebook{
    background-color: white;
    border:2px solid red;
    position: absolute;
    margin-left: 30%;
    margin-top:-20%;
    width: 40%;
    height: 40%;
    z-index:100000;
}

/*boton de linkedin*/
#redesI{
    position: absolute;
    bottom: 40%;
    left: 35%;
    background-image: url(../img/linkedin.png);
    width: 73px;
    height:73px;
    -webkit-transition: all 0.40s ease;
    -moz-transition: all 0.40s ease;
    -o-transition: all 0.40s ease;

}





/*caja de dialogo de linkedin*/
.linkedin{
    background-color: white;
    border:2px solid blue;
    position: absolute;
    margin-left: 30%;
    margin-top:-20%;
    width: 40%;
    height: 60%;
    z-index:100000;
}
.siguiente{
    position: absolute;
    width: 85%;
    height: 75px;
    bottom:0%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}


  /*inicio de la siguiente  pagina*/
  .pantalla1{
      position:relative;
      color:white;
      background:#459fff;
      height: 100vh;
      max-height: 100vh;
      width: auto; 
      min-width: 100vw; 
      margin: 0 auto;
      overflow: hidden; 
  }
  /*Contenedor de las imagenes y texto*/

  .pantalla1>#conteni{
      position: absolute;
      width: 100%;
      height:100%;
      margin-top:0%;
      margin-left:0%;
      max-width:100%;

    }

  /*imagenes de la pantalla2*/
  .pantalla1>#conteni>img:nth-child(1){
      position: absolute;
      margin-left: 12%;
      margin-top:7%;
      width: auto;
      height:20%;

  }


  .pantalla1>#conteni>img:nth-child(2){
      position: absolute;
      margin-left: 63%;
      margin-top:70px;
      width: auto;
      height:15%;
  }


  .pantalla1>#conteni>img:nth-child(3){
      position: absolute;
      margin-left:12%;
      margin-top:160px;
      width: auto;
      height:15%;
  }


  .pantalla1>#conteni>img:nth-child(4){
      position: absolute;
      left: 63%;
      margin-top:-90px;
      width: auto;
      height:15%;
  }


  .pantalla1>#conteni>img:nth-child(5){
      position: absolute;
      left: 12%;
      top:400px;
      width: auto;
      height:15%;

  }


  .pantalla1>#conteni>img:nth-child(6){
      position: absolute;
      left: 67%;
      top:67%;
      width: auto;
      height:20%;
  }


  /*texto de la pantalla2*/
  #titulo1{
      position: absolute;
      width: 80px;
      height: 95px;
      left: 71%;
      top:6%;
      max-width: 100%;
     
  }



  #L{
      position: absolute;
      top:0px;
      font-family: 'Raleway';
      font-size:22px;
      font-stwight:900;
      font-weight:900;
  }


  #l{
      position: absolute;
      top:20px;
      left: -8px;
      font-family: 'Raleway';
      font-size:13px;
  }


  #titulo2{
      position: absolute;
      width: 100px;
      height: 55px;
      left: 25%;
      top:270px;
      font-family: 'Raleway';
      font-size: 15px;
      font-style: normal;
      padding-left:20px;


  }


  #L2{
      position: absolute;
      top:0px;
      font-family: 'Raleway';
      font-size:20px;
      font-stwebold;
  }


  #l2{
      position: absolute;
      top:22px;
      left:17px;
      font-family: 'Raleway';
      font-size:13px;
  }


  #titulo3{
      position: absolute;
      width: 100px;
      height: 55px;
      left: 11%;
      top:498px;
      font-family: 'Raleway';
      font-size: 15px;
      font-style: normal;
      padding-left:20px;


  }


  #L3{
      position: absolute;
      top:0px;
      font-family: 'Raleway';
      font-size:20px;
      font-stwebold;
      font-weight:900px;
  }


  #l3{
      position: absolute;
      top:25px;
      left:10px;
      font-family: 'Raleway';
      font-size:13px;
  }

  #titulo4{
      position: absolute;
      width: 100px;
      height: 55px;
      left: 50%;
      top:470px;
      font-family: 'Raleway';
      font-size: 15px;
      font-style: normal;
      padding-left:20px;

  }
  #L4{
      position: absolute;
      top:0px;
      font-family: 'Raleway';
      font-size:20px;
      font-stwebold;
  }
  #l4{
      position: absolute;
      top:25px;
      left:15px;
      font-family: 'Raleway';
      font-size:13px;
  }
  .pantalla2{
      position:relative;
      color:white;
      background:#5fddff;
      height: 100vh;
      max-height: 100vh;
      width: auto; 
      min-width: 100vw; 
      margin: 0 auto;
      overflow: hidden; 

  }
  /*div que contiene imagenes y texto*/
  .pantalla2>#conteni2{
      position: absolute;
      width: 100%;
      height:100%;
      top:0%;
      left:0%;

   }

   /*imagenes y contenido 1 pagina3*/
  .pantalla2>#conteni2>img:nth-child(1){
      position: absolute;
      left: 10%;
      top:2%;
      width: auto;
      height:25%;
  }
   /*imagenes y contenido 2 pagina3*/
  .pantalla2>#conteni2>img:nth-child(2){
      position: absolute;
      left:16%;
      top:30%;
      width: auto; 
      height:25%;
  }
  .pantalla2>#conteni2>img:nth-child(3){
      position: absolute;
      left: 14%;
      top:62%;
      width: auto;
      height:25%;
  }

  #L5{
      position: absolute;
      top:10%;
      left:47%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l5{
      position: absolute;
      top:14%;
      left:47%;
      font-family: 'Raleway';
      font-size:12px;
      text-align: left;

  }


  #L6{
      position: absolute;
      top:42%;
      left:47%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l6{
      position: absolute;
      top:47%;
      left:47%;
      font-family: 'Raleway';
      font-size:12px;
      text-align: left;
  }

   /*imagenes y contenido 3 pagina3*/

  #L7{
      position: absolute;
      top:68%;
      left:47%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l7{
      position: absolute;
      top:74%;
      left:47%;
      font-family: 'Raleway';
      font-size:12px;
      text-align: left;
  }
  .siguiente2{
    position: absolute;
    width: 85%;
    height: 75px;
    bottom:0%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}




  .pantalla3{
      position:relative;
      color:white;
      background:#ff738f;
      height: 100vh;
      max-height: 100vh;
      width: auto; 
      min-width: 100vw; 
      margin: 0 auto;
      overflow: hidden; 
  }


  /*div de contenido de texto e imagenes*/
  .pantalla3>#conteni3{
      position: absolute;
      width: 100%;
      height:100%;
      top:2%;
      left:0%;
   }


  .pantalla3>#conteni3>img:nth-child(1){
      position: absolute;
      left: 16%;
      top:1%;
      width: auto;
      height:25%;
  }


  .pantalla3>#conteni3>img:nth-child(2){
      position: absolute;
      left:10%;
      top:30%;
      width: auto; 
      height:25%;
  }
   .pantalla3>#conteni3>img:nth-child(3){
      position: absolute;
      left: 10%;
      top:68%;
      width: auto;
      height:11%;
  }
   


  #L8{
      position: absolute;
      top:10%;
      left:47%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l8{
      position: absolute;
      top:16%;
      left:47%;
      font-family: 'Raleway';
      font-size:12px;
      text-align: left;

  }


  #L9{
      position: absolute;
      top:42%;
      left:47%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l9{
      position: absolute;
      top:47%;
      left:47%;
      font-family: 'Raleway';
      font-size:12px;
      text-align: left;


  }

  #L10{
      position: absolute;
      top:68%;
      left:47%;
      font-family: 'Raleway';
      font-size:20px;
      font-weight:900;

  }
  #l10{
      position: absolute;
      top:74%;
      left:47%;
      font-family: 'Raleway';
      font-size:12px;
      text-align: left;
  }
  .siguiente3{
    position: absolute;
    width: 85%;
    height: 75px;
    bottom:0%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.siguiente4{
    position: absolute;
    width: 85%;
    height: 75px;
    bottom:0%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}



}


























