<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registro Empresa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Website Horizontal Scrolling with jQuery" />
    <meta name="keywords" content="jquery, horizontal, scrolling, scroll, smooth"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;">

    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/menuE.css">
	 <!--script de Jquery-->

</head>
<body>
	<!--imagen de tu perfil-->

	<div class="section sec1"id="1">

		<div id="logo">
			<img src="{{ STATIC_URL }}img/logo-pequenio.png" alt="">
		</div>

		<div id="tex_B">
			Dinos quien eres y te conseguimos a quién buscas!
		</div>

		<div id="tex_p">
			Compartenos la siguiente información
		</div>

		<!-- <form> -->
		<div id="camposP">
			<!--input para llenar registro de los datos personales del usuario-->
			<input id="name" name="" type="text"placeholder="Nombre de la empresa" value="{{company.nombre}}">
			<input id="state" name="" type="text"placeholder="Estado">
			<input id="address" name="" type="text"placeholder="Direccion">
			<input id="telephone" name="" type="text"placeholder="Teléfono">
			<input id="email" name="" type="text"placeholder="Correo" value="{{company.usuario.email}}">
			<input id="recruiterName" name="" type="text"placeholder="Nombre del reclutador">

			<!--imagenes representativas de cada campo de los datos personales-->
			<img src="{{ STATIC_URL }}img/empresa.png" alt="" id="nombre">
			<img src="{{ STATIC_URL }}img/pais.png" alt=""id="profesion">
			<img src="{{ STATIC_URL }}img/ubicacion.png" alt=""id="edad">
			<img src="{{ STATIC_URL }}img/telefono.png" alt=""id="telefono">
			<img src="{{ STATIC_URL }}img/mail-propio.png" alt=""id="mail">
			<img src="{{ STATIC_URL }}img/reclutador.png" alt=""id="trabajo">
		</div>

		<!--boton de pantalla siguiente-->
		<div id="boton1">
		<a href="#2"><img src="{{ STATIC_URL }}img/siguiente.png" alt=""></a>
		</div>	
	</div>


	<div class="section sec2"id="2">
		<div id="logo2">
			<img src="{{ STATIC_URL }}img/logo-pequenio.png" alt="">
		</div>

		<div id="tex_B2">
			¿Que características buscas en tu futuro empleado?
		</div>

		<div id="tex_p2">
			compartenos la siguiente información
		</div>

		<div class="Dtrabajador">
			<input type="text" placeholder="Puesto" id="position">

			<select name="Sexo" id="gender">
				<option value="Sexo">Sexo</option>
				<option value="Masculino">Masculino</option>
				<option value="Femenino">Femenino</option>
			</select>

			<select name="Edad" id="edad">
				<option value="edad">Edad<option>
				<option value="4">18 años</option>
				<option value="5">19 años</option>
				<option value="6">20 años</option>
				<option value="7">21 años</option>
				<option value="8">22 años</option>
				<option value="9">23 años</option>
				<option value="10">24 años</option>
				<option value="11">25 años</option>
				<option value="12">26 años</option>
				<option value="13">27 años</option>
				<option value="14">28 años</option>
				<option value="15">29 años</option>
				<option value="16">30 años</option>
				<option value="17">31 años</option>
				<option value="18">32 años</option>
				<option value="19">33 años</option>
				<option value="20">34 años</option>
				<option value="21">35 años</option>
				<option value="22">36 años</option>
				<option value="23">37 años</option>
				<option value="24">38 años</option>
				<option value="25">39 años</option>
				<option value="26">40 años</option>
				<option value="27">41 años</option>
				<option value="28">42 años</option>
				<option value="29">43 años</option>
				<option value="30">44 años</option>
				<option value="31">45 años</option>
				<option value="32">46 años</option>
				<option value="33">47 años</option>
				<option value="34">48 años</option>
				<option value="35">49 años</option>
				<option value="36">50 años</option>
			</select>

			<select name="Experiencia" id="exp">
				<option value="Exp">Experiencia</option>
				<option value="1">1 año</option>
				<option value="2">2 años</option>
				<option value="3">3 años</option>
				<option value="4">4 años</option>
				<option value="5">5 años</option>
				<option value="6">6 años</option>
				<option value="7">7 años</option>
				<option value="8">8 años</option>
				<option value="9">9 años</option>
				<option value="10">10 años</option>
				<option value="15">15 años</option>
				<option value="20">20 años</option>
				<option value="25">25 años</option>
				<option value="30">30 años</option>
			</select>

			<select name="Escolaridad" id="Esc">
				<option value="Esc">Escolaridad</option>
				<option value="Preparatoria">Preparatoria</option>
				<option value="Ingenieria">Ingenieria</option>
				<option value="Licenciatura">Licenciatura</option>
				<option value="Doctorado">Doctorado</option>
			</select>
		</div>


		<div id="boton2_1">
			<a href="#1"><img src="{{ STATIC_URL }}img/flecha-izq.png" alt=""></a>
		</div>
		<div id="boton2_2">
			<a href="#3"><img src="{{ STATIC_URL }}img/siguiente.png" alt=""></a>
		</div>
	</div>

	<div class="section sec3"id="3">
		<!--en este div se coloco el logo de profileme-->
		<div id="logo3">
			<img src="{{ STATIC_URL }}img/logo-pequenio.png" alt="">
		</div>

		<!--texto uno que aparece en este section-->
		<div id="tex_B3">
			¡Queremos saber en qué eres bueno!
		</div>
		<!--texto uno que aparece en este section-->
		<div id="tex_p3">
			Agrega todas tus habilidades
		</div>

		<div class="Htrabajador">
			<textarea id="hab"name="comentarios" rows="10" cols="40"placeholder="Habilidades"></textarea>

			<textarea id="Des"name="comentarios" rows="10" cols="40"placeholder="Descripción"></textarea>
			<input type="text"placeholder="Sueldo"id="sueldo">
		</div>
		
		<div id="boton3_1">
			<a href="#2"><img src="{{ STATIC_URL }}img/flecha-izq.png" alt=""></a>
		</div>

		<div id="boton3_2">
		<a href="#4"><img src="{{ STATIC_URL }}img/siguiente.png" alt=""></a>
		</div>
	</div>

	<div class="section sec4"id="4">
		<div id="logo4">
			<img src="{{ STATIC_URL }}img/logo-pequenio.png" alt="">
		</div>
		<div id="tex_B4">
			¡Muchas Gracias!
		</div>
		<!--texto uno que aparece en este section-->
		<div id="tex_p4">
			{{company.nombre}}
		</div>
		<div id="imgE">
			<img src="{{ STATIC_URL }}img/empresaa.png" alt=""width="150%">
		</div>

		<input type="button" value="Enviar Propuesta" onClick="$.ajax({
              url:APP_URL + 'createJobOffer',
              type:'POST',
              data:{
                name:$('#name').val(),
                state:$('#state').val(),
                address:$('#address').val(),
                telephone:$('#telephone').val(),
                email:$('#email').val(),
                recruiterName:$('#recruiterName').val(),
                position:$('#position').val(),
                gender:$('#gender').val(),
                age:$('#edad').val(),
                experience:$('#exp').val(),
                schoolLevel:$('#Esc').val(),
                skills:$('#hab').val(),
                description:$('#Des').val(),
                compensation:$('#sueldo').val(),
              },
              headers:{'X-CSRFToken':csrftoken},
              success: function(data){jobOfferCreated(data)},
            });
		" >

		<div id="boton4_1">
			<a href="#3"><img src="{{ STATIC_URL }}img/flecha-izq.png" alt="" ></a>
		</div>

	</div>
	<!-- </form> -->

  <!-- The JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>      	
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
        <script type="text/javascript"src="{{ STATIC_URL }}js/scrollH.js"></script>

        <script>

        var APP_URL = "http://127.0.0.1:8000/"

        function jobOfferCreated(response) {
        	if (response == "ok") {
        		alert("Oferta de empleo registrada")
        	} else {
        		alert(response)
        	}
        }

        function onCompanyLoginResponse(responseMessage) {
          if (responseMessage == "ok") {
            alert("Oferta de empleo registrada")
          } else {
            alert(responseMessage)
          }
        }

        function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    
		    return cookieValue;
		}

		var csrftoken = getCookie('csrftoken');
        </script>

    </body>
</html>