<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Perfiles</title>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href="{{MEDIA_URL}}css/menuP.css" rel="stylesheet">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>    
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script src="{{MEDIA_URL}}js/highcharts.js"></script>
        <script src="{{MEDIA_URL}}js/highcharts-more.js"></script>
        <script src="{{MEDIA_URL}}js/gHabilidades.js"></script>
        <script src="{{MEDIA_URL}}js/gHerramientas.js"></script>
        <script type="text/javascript">
        categoriasHabilidades = ['Pert,CPM', 'Business Intelligence', 'Gantt', 'Canvas Bussiness Model',
                'Plan de negocios', 'Otra'
            ];
        dataHabilidades = [99, 44, 66, 77, 100, 15];
        categoriasHerramientas = [
                'Java',
                'JavaScript',
                'CSS',
                'HTML',
                'C#',
                'Scalando'
            ];
        </script>
    </head>
    <body>
        <!--menu de la pagina de perfiles-->
        <nav>
            <ul id="menu">
                <li><a href="/"class="imprimir"><img src="{{MEDIA_URL}}img/profile-me-blanco.png" alt="" ></a></li>
                <li><a href="jobs"><img src="{{MEDIA_URL}}img/casa.png" alt=""></a></li>
                <li><a href="profile"><img src="{{MEDIA_URL}}img/perfil.png" alt=""></a></li>
                <li><input type="text"><img src="{{MEDIA_URL}}img/buscar.png" alt=""id="buscar"></li>
            </ul>
        </nav>
        <section class="container1">
            <!--Datos personales del usuario (nombre,campo de trabajo y edad)-->
            <div id="datos1">
                <div id="fperfil">
                    <img src="{{ user.personaldata.img }}" alt="Profile image">
                </div>
                <div id="nombre">{{ user.first_name }}</div>
                <div id="profesion">{{ user.personaldata.profesion }}</div>
                <div id="edad">{{ user.personaldata.age }}</div>
                <div id="numero"> {{ user.personaldata.telefono }}</div>
                <div id="correo">{{ user.email }}</div>
                <div id="trabajo">{{ user.personaldata.trabajo}}</div>
                <div id="live">{{ user.personaldata.ciudad.nombre }}/{{ user.personaldata.ciudad.estado.nombre }}</div>
                <!--boton y div para editar todos los datos personales -->
                <input type="button" value="Editar información"class="explode">
                <!--input para editar los campos-->
            </div>
            <div id="datos2">
                <img src="{{MEDIA_URL}}img/nombre.png" alt=""id="nombre1">
                <img src="{{MEDIA_URL}}img/profesion.png" alt=""id="profesion1">
                <img src="{{MEDIA_URL}}img/edad.png" alt=""id="edad1">
                <img src="{{MEDIA_URL}}img/telefono.png" alt=""id="numero1"> 
                <img src="{{MEDIA_URL}}img/mail-propio.png" alt=""id="correo1"> 
                <img src="{{MEDIA_URL}}img/trabajo.png" alt=""id="trabajo1"> 
                <img src="{{MEDIA_URL}}img/ubicacion.png"id="pais"> 
            </div>
            <div class="contenido" id="camposD">
                <input type="text" placeholder="Nombre" value="{{ user.first_name }}"> 
                <input type="text" placeholder="Campo de Trabajo" value="{{ user.personaldata.profesion }}">
                <input type="text" placeholder="Fecha de nacimiento" value="{{ user.personaldata.age }}" >
                <input type="text" placeholder="Telefono" value="{{ user.personaldata.telefono }}">
                <input type="text" placeholder="Correo Electronico" value="{{ user.email }}">
                <input type="text" placeholder="Trabajo" value="{{ user.personaldata.trabajo}}">
                <input type="text" placeholder="Pais/municipio" value="{{ user.personaldata.ciudad.nombre }}/{{ user.personaldata.ciudad.estado.nombre }}">
                <input type="button" value="Guardar"class="explode" value="">
                <img src="{{MEDIA_URL}}img/foto-perfil.png" alt="">
            </div>
            <hr>
        </section>
        <section class="container2">
            <!--esta es la grafica de las habilidades-->
            <div id="habilidades">
                <!--boton de editar-->
                <input type="button" value="Editar" class="explode2">
                <div id="container"class="verticalLine" style="min-width: 300px; max-width: 800px; height: 420px; margin: 1 auto"> </div>
            </div>
            <!--editable de las habilidades -->
            <div class="chabilidades"id="contenido">
                <!--es el div donde contiene todas las habilidades agregadas-->
                <div id="Totalh">
                    <ul id="links">
                    </ul>
                </div>
                <!--es el div donde agregas habilidades-->
                <div class="Nhabilidad">
                    <!--es el slider de putos que tienes en cada habilidad-->
                    <div id="slider">
                        <!--slider-->
                        <form oninput="amount.value=rangeInput.value" class="generate">
                            <input name="habilidad" type="text" placeholder="Habilidades" class="generate-input2" />
                            <input type="submit" value="Agregar" class="generate-submit" />
                            <input id="rangeInput"name="rangeInput" type="range" min="1" max="100" class="generate-input" />
                            <!--numero que elige el usuario en el slider-->
                            <output name="amount" for="rangeInput" class="num1">50</output>
                        </form>
                    </div>
                </div>
                <input type="button"value="Guardar Cambios"class="explode2">
            </div>
            <!--Es la grafica de las herramientas-->
            <div class="herramientas">
                <input type="button" value="Editar"class="explode3">
                <div  id="container2" class="verticalLine2" style="height: 390px; min-width:350px; max-width: 1000px; margin: 1 auto"></div>
            </div>
            <!--editable de las herramientas -->
            <div class="cherramientas"id="contenido2">
                <!--es el div donde contiene todas las habilidades agregadas-->
                <div id="Totalhe">
                    <ul id="h">
                    </ul>
                </div>
                <!--es el div donde agregas habilidades-->
                <div class="Nherramientas">
                    <!--es el slider de putos que tienes en cada habilidad-->
                    <div id="slider2">
                        <!--slider-->
                        <form oninput="amount.value=rangeInput.value"class="formulario2">
                            <input name="herramientas" type="text" placeholder="Herramientas" class="text">
                            <input type="submit"value="Agregar" class="agregarV">
                            <input id="rangeInput"name="rangeInput" type="range" min="1" max="100" class="range" />
                            <!--numero que elige el usuario en el slider-->
                            <output name="amount" for="rangeInput" class="num2">50</output>
                        </form>
                    </div>
                </div>
                <input type="button" value="Guardar Cambios"class="explode3">
            </div>
            <hr>
            <!--fin del container2-->            
        </section>
        <section class="container3">
            <div class="escolaridad">
                <!--boton editar-->
                <input type="button" value="Editar"class="explode5">
                <h1>Escolaridad</h1>
                <!--imagen del tipo de escuela que es-->
                <img src="{{MEDIA_URL}}img/ing..png" alt=""id="Esc">
                <!--nombre de escuela en la que esta actualmente-->
                <div id="nescuela">
                    <p>Nombre de la escuela o carrera cursada</p>
                </div>
                <!--certificaciones del usuario-->
                <div id="certificaciones">
                    <p>Aqui van todas las certificaciones del usuario</p>
                </div>
            </div>
            <div id="contenido4">
                <input type="button" value="Guardar Cambios" class="explode5">
                <select>
                    <option value="0">Escolaridad</option>
                    <option value="1">Ingenieria</option>
                    <option value="2">Doctorado</option>
                    <option value="3">Licenciatura</option>
                    <option value="4">Preparatoria</option>
                </select>
                <textarea id="carrera"name="comentarios" rows="10" cols="40"placeholder="Nombre de la carrera"></textarea>
                <textarea id="certificaciones" name="comentarios" rows="10" cols="40"placeholder="certificaciónes"></textarea>
            </div>
            <div id="hobbies">
                <!--boton editar-->
                <input type="button" value="Editar"class="explode4">
                <!--hobbies que se muestran en el perfil-->
                <h1>Hobbies</h1>
                <ul>
                    <li><img src="{{MEDIA_URL}}img/pintar.png"></li>
                    <li><img src="{{MEDIA_URL}}img/ejercicio.png"></li>
                    <li><img src="{{MEDIA_URL}}img/leer.png"></li>
                    <li><img src="{{MEDIA_URL}}img/fotografia.png"></li>

                </ul>
            </div>
            <!--elejir hobbies-->
            <div class="EditH">
                <input type="button"value="Guardar"class="explode4"id="btnG">
                <div id="contenido3">
                    <ul>
                        <li><img src="{{MEDIA_URL}}img/cine.png"> <input type="checkbox" name="radio-btn"id="musica" /></li>
                        <li><img src="{{MEDIA_URL}}img/leer.png"><input type="checkbox" name="radio-btn2" id="pintura"/></li>
                        <li><img src="{{MEDIA_URL}}img/fotografia.png"><input type="checkbox" name="radio-btn3"id="gym"/></li>
                        <li><img src="{{MEDIA_URL}}img/musica.png"><input type="checkbox" name="radio-btn4"id="futbol"/></li>
                        <li><img src="{{MEDIA_URL}}img/viajar.png"><input type="checkbox" name="radio-btn5"id="soccer"/></li>
                        <li><img src="{{MEDIA_URL}}img/pintar.png"><input type="checkbox" name="radio-btn6" id="leer"/></li>
                        <li><img src="{{MEDIA_URL}}img/correr.png"><input type="checkbox" name="radio-btn7"id="correr"/></li>
                        <li><img src="{{MEDIA_URL}}img/soccer.png"><input type="checkbox" name="radio-btn8" id="fumar"/></li>
                        <li><img src="{{MEDIA_URL}}img/ejercicio.png"><input type="checkbox" name="radio-btn9"id="tomar" /></li>
                        <li><img src="{{MEDIA_URL}}img/videojuegos.png"><input type="checkbox" name="radio-btn10"id="programar" /></li>
                    </ul>
                </div>
            </div>
            <hr>
        </section>
        <section class="container4">
            <h1>Proyectos</h1>
            <div id="editarPro"class="contenido5">
                <div id="listaproyectos">
                    <ul id="p">
                    </ul>
                </div>
                <input type="button" value="Guardar Cambios"class="explode6">
                <form action=""class="formulario3">
                    <textarea placeholder="Nombre del proyecto"class="nombre"></textarea>
                    <textarea placeholder="Descripción del proyecto" class="descripcion"></textarea>
                    <textarea placeholder="Enlace"class="enlace"></textarea>
                    <input type="submit"value="Agregar"id="aproyecto"class="agregarP">
                </form>
            </div>
            <div class="proyectos"id="datosP">
                <input type="button" value="Editar"class="explode6">
                <div id="NDE">
                    <ul>
                        <li>Nombre</li>
                        <li>Descripción</li>
                        <li>Enlace</li>
                    </ul>
                </div>
                <div id="proyecto">
                    <ul>
                        <li>Erbol</li>
                        <li>es una plataforma que su principal funcion es reforestar y sembrar productos organicos</li>
                        <li>www.erbol.com</li>
                    </ul>
                    <ul>
                        <li>Erbol</li>
                        <li>es una plataforma que su principal funcion es reforestar y sembrar productos organicos</li>
                        <li>www.erbol.com</li>
                    </ul>
                    <ul>
                        <li>Erbol</li>
                        <li>es una plataforma que su principal funcion es reforestar y sembrar productos organicos</li>
                        <li>www.erbol.com</li>
                    </ul>
                    <ul>
                        <li>Erbol</li>
                        <li>es una plataforma que su principal funcion es reforestar y sembrar productos organicos</li>
                        <li>www.erbol.com</li>
                    </ul>
                    <ul>
                        <li>Erbol</li>
                        <li>es una plataforma que su principal funcion es reforestar y sembrar productos organicos</li>
                        <li>www.erbol.com</li>
                    </ul>
                    <ul>
                        <li>Erbol</li>
                        <li>es una plataforma que su principal funcion es reforestar y sembrar productos organicos</li>
                        <li>www.erbol.com</li>
                    </ul>
                    <ul>
                        <li>Erbol</li>
                        <li>es una plataforma que su principal funcion es reforestar y sembrar productos organicos</li>
                        <li>www.erbol.com</li>
                    </ul>
                </div>
            </div>
        </section>
        <div id="errorMessage" class='error' style='display:none'><p>Error</p></div>
        <script src="{{MEDIA_URL}}js/jquery.slicknav.js"></script>
        <script src="{{MEDIA_URL}}js/perfil.js" type="text/javascript"></script>
    </body>
</html>
