<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Perfiles</title>
		
		<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href="{{ STATIC_URL }}css/menuP.css" rel="stylesheet">

		<% if debug %>
		<!-- Este desmadre es para cuando no hay conexión a internet en las pruebas -->
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts-more.js"></script>
		<% else %>
		<!-- bibliotecas con cdn -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
		<script type="text/javascript" src="//code.highcharts.com/highcharts.js"></script>
		<script type="text/javascript" src="//code.highcharts.com/highcharts-more.js"></script>

		<% endif %>
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slicknav.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/escolaridad.profileme.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/habilidades.profileme.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/herramientas.profileme.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/hobbies.profileme.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/proyectos.profileme.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/tables.profileme.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/perfil.js" type="text/javascript"></script>
		
		<script type="text/javascript">
		categoriasHabilidades = {{habilidades.names|escape|safe}};
		dataHabilidades = {{habilidades.values|escape|safe}};
		categoriasHerramientas = {{herramientas.names|escape|safe}};
		dataHerramientas = {{herramientas.values|escape|safe}};
		</script>
	</head>
	<body>
		<!--menu de la pagina de perfiles-->
		<nav>
			<ul id="menu">
				<li><a href="/"class="imprimir"><img src="{{ STATIC_URL }}img/profile-me-blanco.png" alt="" ></a></li>
				<li><a href="jobs"><img src="{{ STATIC_URL }}img/casa.png" alt=""></a></li>
				<li><a href="profile"><img src="{{ STATIC_URL }}img/perfil.png" alt=""></a></li>
				<li><input type="text"><img src="{{ STATIC_URL }}img/buscar.png" alt=""id="buscar"></li>
			</ul>
		</nav>
		<section class="container1">
			<!--Datos personales del usuario (nombre,campo de trabajo y edad)-->
			<div id="datos1">
				<div id="fperfil">
					<img src="{{ user.personaldata.img |default_if_none:"" }}" alt="Profile image">
				</div>
				<div id="nombre">{{ user.first_name }}</div>
				<div id="profesion">{{ user.personaldata.profesion |default_if_none:"" }}</div>
				<div id="edad">{{ user.personaldata.age |default_if_none:"" }}</div>
				<div id="numero"> {{ user.personaldata.telefono |default_if_none:"" }}</div>
				<div id="correo">{{ user.email }}</div>
				<div id="trabajo">{{ user.personaldata.trabajo |default_if_none:"" }}</div>
				<div id="live">{{ user.personaldata.ciudad.nombre |default_if_none:"" }}/{{ user.personaldata.ciudad.estado.nombre }}</div>
				<!--boton y div para editar todos los datos personales -->
				<input type="button" value="Editar información"class="explode">
				<!--input para editar los campos-->
			</div>
			<div id="datos2">
				<img src="{{ STATIC_URL }}img/nombre.png" alt=""id="nombre1">
				<img src="{{ STATIC_URL }}img/profesion.png" alt=""id="profesion1">
				<img src="{{ STATIC_URL }}img/edad.png" alt=""id="edad1">
				<img src="{{ STATIC_URL }}img/telefono.png" alt=""id="numero1">
				<img src="{{ STATIC_URL }}img/mail-propio.png" alt=""id="correo1">
				<img src="{{ STATIC_URL }}img/trabajo.png" alt=""id="trabajo1">
				<img src="{{ STATIC_URL }}img/ubicacion.png"id="pais">
			</div>
			<div class="contenido" id="camposD">
				<input type="text" placeholder="Nombre" value="{{ user.first_name }}">
				<input type="text" placeholder="Campo de Trabajo" value="{{ user.personaldata.profesion }}">
				<input type="text" placeholder="Fecha de nacimiento" value="{{ user.personaldata.age }}" >
				<input type="text" placeholder="Telefono" value="{{ user.personaldata.telefono }}">
				<input type="text" placeholder="Correo Electronico" value="{{ user.email }}">
				<input type="text" placeholder="Trabajo" value="{{ user.personaldata.trabajo}}">
				<input type="text" placeholder="Pais/municipio" value="{{ user.personaldata.ciudad.nombre }}/{{ user.personaldata.ciudad.estado.nombre }}">
				<input type="button" value="Guardar"class="explode" value="">
				<img src="{{ STATIC_URL }}img/foto-perfil.png" alt="">
			</div>
			<hr>
		</section>
		<section class="container2">
			<!--esta es la grafica de las habilidades-->
			<div id="habilidades">
				<!--boton de editar-->
				<input type="button" value="Editar" class="explode2">
				<div id="container"class="verticalLine" style="min-width: 300px; max-width: 800px; height: 420px; margin: 1 auto"> </div>
			</div>
			<!--editable de las habilidades -->
			<div class="chabilidades"id="contenido">
				<!--es el div donde contiene todas las habilidades agregadas-->
				<div id="Totalh">
					<ul id="links">
					</ul>
				</div>
				<!--es el div donde agregas habilidades-->
				<div class="Nhabilidad">
					<!--es el slider de putos que tienes en cada habilidad-->
					<div id="slider">
						<!--slider-->
						<form oninput="amount.value=rangeInput.value" class="generate">
							<input name="habilidad" type="text" placeholder="Habilidades" class="generate-input2" />
							<input type="submit" value="Agregar" class="generate-submit" />
							<input id="rangeInput"name="rangeInput" type="range" min="1" max="100" class="generate-input" />
							<!--numero que elige el usuario en el slider-->
							<output name="amount" for="rangeInput" class="num1">50</output>
						</form>
					</div>
				</div>
				<input type="button"value="Guardar Cambios"class="explode2">
			</div>
			<!--Es la grafica de las herramientas-->
			<div class="herramientas">
				<input type="button" value="Editar"class="explode3">
				<div  id="container2" class="verticalLine2" style="height: 390px; min-width:350px; max-width: 1000px; margin: 1 auto"></div>
			</div>
			<!--editable de las herramientas -->
			<div class="cherramientas"id="contenido2">
				<!--es el div donde contiene todas las habilidades agregadas-->
				<div id="Totalhe">
					<ul id="h">
					</ul>
				</div>
				<!--es el div donde agregas habilidades-->
				<div class="Nherramientas">
					<!--es el slider de putos que tienes en cada habilidad-->
					<div id="slider2">
						<!--slider-->
						<form oninput="amount.value=rangeInput.value"class="formulario2">
							<input name="herramientas" type="text" placeholder="Herramientas" class="text">
							<input type="submit"value="Agregar" class="agregarV">
							<input id="rangeInput"name="rangeInput" type="range" min="1" max="100" class="range" />
							<!--numero que elige el usuario en el slider-->
							<output name="amount" for="rangeInput" class="num2">50</output>
						</form>
					</div>
				</div>
				<input type="button" value="Guardar Cambios"class="explode3">
			</div>
			<hr>
			<!--fin del container2-->
		</section>
		<section class="container3">
			<div class="escolaridad">
				<!--boton editar-->
				<input type="button" value="Editar"class="explode5">
				<h1>Escolaridad</h1>
				<!--imagen del tipo de escuela que es-->
				<img src="{{ STATIC_URL }}img/ing..png" alt=""id="Esc">
				<!--nombre de escuela en la que esta actualmente-->
				<div id="nescuela">
					<p>Nombre de la escuela o carrera cursada</p>
				</div>
				<!--certificaciones del usuario-->
				<div id="certificaciones">
					<p>Aqui van todas las certificaciones del usuario</p>
				</div>
			</div>
			<div id="contenido4">
				<input type="button" value="Guardar Cambios" class="explode5">
				<select>
					<!-- 
					<option value="0">Escolaridad</option>
					<option value="1">Ingenieria</option>
					<option value="2">Doctorado</option>
					<option value="3">Licenciatura</option>
					<option value="4">Preparatoria</option>-->
					{% for key, item in escolaridad %}
					    <option value="{{ key }}">{{item}}</option>
					{% endfor %}
				</select>
				<textarea id="carrera" name="comentarios" rows="10" cols="40"placeholder="Nombre de la carrera"></textarea>
				<textarea id="certificaciones" name="comentarios" rows="10" cols="40"placeholder="certificaciónes"></textarea>
			</div>
			<div id="hobbies">
				<!--boton editar-->
				<input type="button" value="Editar"class="explode4">
				<!--hobbies que se muestran en el perfil-->
				<h1>Hobbies</h1>
				<ul>
					<li><img src="{{ STATIC_URL }}img/iconosG/pintar-g.png"></li>
					<li><img src="{{ STATIC_URL }}img/iconosG/ejercicio-g.png"></li>
					<li><img src="{{ STATIC_URL }}img/iconosG/leer-g.png"></li>
					<li><img src="{{ STATIC_URL }}img/iconosG/fotografia-g.png"></li>
				</ul>
			</div>
			<!--elejir hobbies-->
			<div class="EditH">
				<input type="button"value="Guardar" class="explode4"id="btnG">
				<div id="contenido3">
					<ul>
						<!--
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/cine-g.png"> 
							<input type="checkbox" name="radio-btn" id="cine" />
						</li>
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/leer-g.png">
							<input type="checkbox" name="radio-btn2" id="leer"/>
						</li>
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/fotografia-g.png">
							<input type="checkbox" name="radio-btn3" id="fotografia"/>
						</li>
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/musica-g.png">
							<input type="checkbox" name="radio-btn4" id="musica"/>
						</li>
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/viajar-g.png">
							<input type="checkbox" name="radio-btn5" id="viajar"/>
						</li>
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/pintar-g.png">
							<input type="checkbox" name="radio-btn6" id="pintar"/>
						</li>
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/correr-g.png">
							<input type="checkbox" name="radio-btn7" id="correr"/>
						</li>
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/soccer-g.png">
							<input type="checkbox" name="radio-btn8" id="soccer"/>
						</li>
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/ejercicio-g.png">
							<input type="checkbox" name="radio-btn9" id="ejercicio" />
						</li>
						<li>
							<img src="{{ STATIC_URL }}img/iconosG/videojuegos-g.png">
							<input type="checkbox" name="radio-btn10" id="videojuegos" />
						</li>-->
						{% for item in hobbies %}
					    <li>
							<img src="{{ STATIC_URL }}{{ item.foto }}">
							<input class="tachado checkHb" type="checkbox" name="radio-btn10" id="{{ item.nombre }}" />
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<hr>
		</section>
		<section class="container4">
			<h1>Proyectos</h1>
			<div id="editarPro"class="contenido5">
				<div id="listaproyectos">
					<ul id="p">
					</ul>
				</div>
				<input type="button" value="Guardar Cambios"class="explode6">
				<form action=""class="formulario3">
					<textarea placeholder="Nombre del proyecto"class="nombre"></textarea>
					<textarea placeholder="Descripción del proyecto" class="descripcion"></textarea>
					<textarea placeholder="Enlace"class="enlace"></textarea>
					<input type="submit"value="Agregar"id="aproyecto"class="agregarP">
				</form>
			</div>
			<div class="proyectos"id="datosP">
				<input type="button" value="Editar"class="explode6">
				<div id="NDE">
					<ul>
						<li>Nombre</li>
						<li>Descripción</li>
						<li>Enlace</li>
					</ul>
				</div>
				<div id="proyecto">
				</div>
			</div>
		</section>
		<div id="errorMessage" class='error' style='display:none'><p>Error</p></div>
	</body>
</html>